# ***Outline***

This data set is a compilation state expenditure, student demographic, and 4th and 8th grade math and reading scores. This project is trying to create a model that can predict student scores based on these features.

# ***Data***

## ***Upload Data***

In [1]:
import sys
!conda install --yes --prefix {sys.prefix} numpy

Collecting package metadata (current_repodata.json): done
Solving environment: -
Warning: 4 possible package resolutions (only showing differing packages):
  - anaconda/osx-64::ca-certificates-2020.1.1-0, anaconda/osx-64::openssl-1.1.1d-h1de35cc_4
  - anaconda/osx-64::ca-certificates-2020.1.1-0, defaults/osx-64::openssl-1.1.1d-h1de35cc_4
  - anaconda/osx-64::openssl-1.1.1d-h1de35cc_4, defaults/osx-64::ca-certificates-2020.1.1-0
  - defaults/osx-64::ca-certificates-2020.1.1-0, defaults/osx-64::openssl-1.1.1d-h1de35ccdone

# All requested packages already installed.

In [2]:
import os

In [3]:
import pandas as pd

In [4]:
DATA_PATH = '/Users/jisha/Unit 240_Build_Week/data/'
states = pd.read_csv(DATA_PATH + 'states_all_extended.csv')
finances = pd.read_csv(DATA_PATH + 'finance_states.csv')

In [5]:
states.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_TRF,GRADES_8_TRF,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,208.398961,260.892247,196.764414,NaN

In [6]:
finances.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885,304177,1659028,715680,2653798,1481703,735036,NaN,174053
1,1992_ALASKA,ALASKA,1992,NaN,1049591,106780,720711,222100,972488,498362,350902,NaN,37451
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079,297888,1369815,1590376,3401580,1435908,1007732,NaN,609114
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959,178571,958785,574603,1743022,964323,483488,NaN,145212
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025,2072470,16546514,7641041,27138832,14358922,8520926,NaN,2044688

In [7]:
states.shape, finances.shape

((1492, 193), (1326, 13))

## ***Update Data***

### ***Merging Tail***

* merging the tail of both dataframes before concating

In [8]:
state_tail = pd.DataFrame(states.tail(51))
finance_tail = pd.DataFrame(finances.tail(51)) #I just need the last 51 rows

In [9]:
state_tail.shape, finance_tail.shape

((51, 193), (51, 13))

In [10]:
columns = ['ENROLL','TOTAL_REVENUE','FEDERAL_REVENUE',
           'STATE_REVENUE','LOCAL_REVENUE','TOTAL_EXPENDITURE',
           'INSTRUCTION_EXPENDITURE','SUPPORT_SERVICES_EXPENDITURE',
           'OTHER_EXPENDITURE','CAPITAL_OUTLAY_EXPENDITURE']
state_tail = state_tail.drop(columns=columns) #Dropping unnecessary columns from state_tail, so I do not have to do this later

In [11]:
merge = pd.merge(finance_tail, state_tail, on=['PRIMARY_KEY','STATE', 'YEAR'])

In [12]:
merge.shape

(51, 193)

In [13]:
merge.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_TRF,GRADES_8_TRF,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,2017_ALABAMA,ALABAMA,2017,744930.0,7911674,811407,4350594,2749673,8031412,4046379,...,NaN,NaN,NaN,NaN,NaN,NaN,232.170688,268.312020,216.419814,257.686520
1,2017_ALASKA,ALASKA,2017,132737.0,2504501,350204,1600503,553794,2587060,1266077,...,NaN,NaN,NaN,NaN,NaN,NaN,230.456278,277.015572,207.037630,257.667497
2,2017_ARIZONA,ARIZONA,2017,936147.0,8677631,1178196,3446191,4053244,8389808,4081153,...,NaN,NaN,NaN,NaN,NaN,NaN,234.435788,282.248145,215.465952,262.957457
3,2017_ARKANSAS,ARKANSAS,2017,478996.0,5481422,597260,4137903,746259,5479899,2691959,...,NaN,NaN,NaN,NaN,NaN,NaN,233.848144,273.759907,216.108026,259.955798
4,2017_CALIFORNIA,CALIFORNIA,2017,6195344.0,91803968,7889546,51046506,32867916,90161939,44748095,...,NaN,NaN,NaN,NaN,NaN,NaN,232.262941,276.638200,215.421814,262.520630

### ***Concatenating Data***

In [14]:
head = states.head(1441)

In [15]:
df = head.append(merge)

# ***Choose your evaluation metric(s)***

In [16]:
target_df = df[['PRIMARY_KEY','STATE','AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE' ]].copy()
target_df.head()

,PRIMARY_KEY,STATE,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,208.398961,260.892247,196.764414,NaN

Using 8th grade reading. Creating a classification class by grouping the scores into different categories. I think this will give more information then the numeric values.

Noticings: Unfortunately, the state scores are not very good for any of the states for any of the years. Most states, across both Math and Reading, have underperformed; only a small percentage scored proficient.

## 8th Grade Reading

### ***Data Cleaning***

In [17]:
#This code finds the mean by states and then fills in NaN values with that mean
target_df['AVG_READING_8_SCORE'] = target_df.groupby('STATE')['AVG_READING_8_SCORE'].transform(lambda x: x.fillna(x.mean()))

In [18]:
target_df['AVG_READING_8_SCORE'].isnull().sum()

161

In [19]:
target_df['AVG_READING_8_SCORE'] = target_df['AVG_READING_8_SCORE'].fillna(0)
target_df['AVG_READING_8_SCORE'] = target_df['AVG_READING_8_SCORE'].astype(int)
target_df['AVG_READING_8_SCORE']

0     264
1     258
2     262
3     264
4     261
     ...
46    273
47    267
48    271
49    258
50    269
Name: AVG_READING_8_SCORE, Length: 1492, dtype: int64

In [20]:
target_df['AVG_READING_8_SCORE'].value_counts()

264    218
263    191
265    163
0      161
262    134
261    117
266    105
260     70
267     47
259     35
268     34
269     32
270     21
257     19
258     18
272     14
251     13
255     12
253     11
254     10
273      9
271      9
256      8
274      7
252      7
250      6
277      3
275      3
276      2
247      2
238      2
242      2
239      1
236      1
249      1
240      1
246      1
248      1
280      1
Name: AVG_READING_8_SCORE, dtype: int64

In [21]:
min(target_df['AVG_READING_8_SCORE']), max(target_df['AVG_READING_8_SCORE'])

(0, 280)

NAEP Reading Score Breakdown
- basic (0-280)
> This column was broken down into 3 categories: 
> - low, 
> - mid, and 
> - high basic
- proficient (281-322)
- advanced (323-500)

In [22]:
def proficiency(row):
  #separating basic into 3 groups (0-281)
    if 0< row['AVG_READING_8_SCORE'] < 240:
        val = '1'
    elif 240 <= row['AVG_READING_8_SCORE'] < 265:
        val = '2'
    elif 265 <= row['AVG_READING_8_SCORE'] < 281:
        val = '3'
    elif 281 <= row['AVG_READING_8_SCORE'] < 323:
        val = '4'
    elif row['AVG_READING_8_SCORE'] >= 323:
        val = '5'
    else:
        val = 0
    return val

target_df['READING_PROF_8'] = target_df.apply(proficiency, axis=1)
target_df['READING_PROF_8'].astype('int')

0     2
1     2
2     2
3     2
4     2
     ..
46    3
47    3
48    3
49    2
50    3
Name: READING_PROF_8, Length: 1492, dtype: int64

In [23]:
target_df['READING_PROF_8'].value_counts(normalize=True)

2    0.587802
3    0.301609
0    0.107909
1    0.002681
Name: READING_PROF_8, dtype: float64

## 8th Grade Math

### ***Data Cleaning***

In [24]:
#This code finds the mean by states and then fills in NaN values with that mean
target_df['AVG_MATH_8_SCORE'] = target_df.groupby('STATE')['AVG_MATH_8_SCORE'].transform(lambda x: x.fillna(x.mean()))

In [25]:
target_df['AVG_MATH_8_SCORE'].isnull().sum()

161

In [26]:
target_df['AVG_MATH_8_SCORE'] = target_df['AVG_MATH_8_SCORE'].fillna(0)
target_df['AVG_MATH_8_SCORE'] = target_df['AVG_MATH_8_SCORE'].astype(int)
target_df['AVG_MATH_8_SCORE']

0     252
1     280
2     265
3     256
4     260
     ...
46    290
47    289
48    273
49    288
50    288
Name: AVG_MATH_8_SCORE, Length: 1492, dtype: int64

In [27]:
target_df['AVG_MATH_8_SCORE'].value_counts()

0      161
283    115
282    101
280     72
287     68
273     60
277     57
288     55
285     54
284     54
279     49
275     47
286     47
274     46
278     46
270     45
281     44
269     40
271     28
289     27
272     25
262     25
290     24
266     24
265     23
291     23
263     21
250     18
276     13
268     11
267      7
292      6
294      6
259      5
260      5
264      4
261      4
293      4
258      3
256      2
234      2
252      2
297      2
253      2
295      2
298      2
296      2
254      1
257      1
249      1
248      1
246      1
245      1
243      1
232      1
300      1
Name: AVG_MATH_8_SCORE, dtype: int64

In [28]:
min(target_df['AVG_MATH_8_SCORE']), max(target_df['AVG_MATH_8_SCORE'])

(0, 300)

NAEP Math Score Breakdown
- basic (0-298)
> This column was broken down into 3 categories:
> -  low, 
> - mid, and 
> - high basic
- proficient (298-332)
- advanced (333-500)

In [29]:
def proficiency(row):
    if 0 < row['AVG_MATH_8_SCORE'] < 270:
        val = '1'
    elif 270 <= row['AVG_MATH_8_SCORE'] < 280:
        val = '2 '
    elif 280 <= row['AVG_MATH_8_SCORE'] < 299:
        val = '3'    
    elif 299 <= row['AVG_MATH_8_SCORE'] < 333:
        val = '4'
    elif row['AVG_MATH_8_SCORE'] >= 333:
        val = '5'
    else:
        val = 0
    return val

target_df['MATH_PROF_8'] = target_df.apply(proficiency, axis=1)
target_df['MATH_PROF_8'].astype('int')

0     1
1     3
2     1
3     1
4     1
     ..
46    3
47    3
48    2
49    3
50    3
Name: MATH_PROF_8, Length: 1492, dtype: int64

In [30]:
target_df['MATH_PROF_8'].value_counts(normalize=True)

3     0.474531
2     0.278820
1     0.138070
0     0.107909
4     0.000670
Name: MATH_PROF_8, dtype: float64

# ***Target***

Adding the two new engineered features back into the dataframe

In [31]:
df = df.drop(columns = ['AVG_READING_8_SCORE', 'AVG_MATH_8_SCORE'])

In [32]:
df[['AVG_READING_8_SCORE', 'AVG_MATH_8_SCORE','READING_PROF_8', 'MATH_PROF_8']] = target_df[['AVG_READING_8_SCORE', 'AVG_MATH_8_SCORE','READING_PROF_8','MATH_PROF_8' ]].copy()
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,AVG_MATH_8_SCORE,READING_PROF_8,MATH_PROF_8
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,208.327876,207.963517,264,252,2,1
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,258,280,2,3
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,215.253932,206.212716,262,265,2,1
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,210.206028,208.634458,264,256,2,1
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,208.398961,196.764414,261,260,2,1

In [33]:
df['READING_PROF_8'] = df['READING_PROF_8'].astype(int)
df['MATH_PROF_8'] = df['MATH_PROF_8'].astype(int)

In [34]:
df.dtypes

PRIMARY_KEY             object
STATE                   object
YEAR                     int64
ENROLL                 float64
TOTAL_REVENUE          float64
                        ...
AVG_READING_4_SCORE    float64
AVG_READING_8_SCORE      int64
AVG_MATH_8_SCORE         int64
READING_PROF_8           int64
MATH_PROF_8              int64
Length: 195, dtype: object

# ***Train/Val/Test***

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
train = df[df['YEAR'] < 2013]
test = df[df['YEAR'] >= 2013]
train.shape, test.shape

((1219, 195), (273, 195))

In [37]:
min(train['YEAR']), max(train['YEAR'])

(1992, 2012)

In [38]:
min(test['YEAR']), max(test['YEAR'])

(2013, 2017)

In [39]:
train, val = train_test_split(
    train, train_size=0.60, test_size=0.40,
    stratify=train['READING_PROF_8'], 
    random_state=42
)

train.shape, val.shape, test.shape

((731, 195), (488, 195), (273, 195))

### ***Cleaning Data***

TO DO:
- There are several columns that do not have any data. 

**DROP**
- primary key (this is just a combination of state and year
- Since this model is trying to predict scores for each state, I will be dropping the years that do not have any recorded scores. 
- This data contains information for all 50 states, including Washington D.C, as well as US territories. Unfortunately, there is not information about expenditure for those columns, so that information will be dropped as well. 
- I will create a new dataframe which has the breakdown of demographics and then delete those columns from this dataframe. The demographics info was not captured until 2009, that will be too many np.nan values to use to build a useful model.

In [40]:
train.columns

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       ...
       'GRADES_12_TRF', 'GRADES_1_8_TRF', 'GRADES_9_12_TRF', 'GRADES_ALL_TRF',
       'AVG_MATH_4_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE',
       'AVG_MATH_8_SCORE', 'READING_PROF_8', 'MATH_PROF_8'],
      dtype='object', length=195)

### ***Feature Engineering***

- For this dataset, I would delete the years where the NAEP test scores are not available since that does not give anything for me to train/validate/test the data on. The data is from 1992 - 2017. The NAEP only gives information for the years 1992, 1996, 2000, 2003, 2005, 2007, 2009, 2011, 2013, 2015, 2017. ✓
- I will also delete the years where I do not have the finacial information available ✓
- I am using information from the consumer price index to create new columns that adjust revenue and expenditures to reflect inflation ✓
https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/
 * https://www.usinflationcalculator.com/frequently-asked-questions-faqs/#HowInflationCalculatorWorks
- look at %of total revenue spent on education✓
- look at % of total expenditure spent on instruction, support other, and capital outlay✓

#### State Averages
* replacing nulls with state averages

In [41]:
train.groupby('STATE').mean()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,AVG_MATH_8_SCORE,READING_PROF_8,MATH_PROF_8
STATE,,,,,,,,,,,,,,,,,,,,,
ALABAMA,2003.000000,734240.800000,5.446486e+06,570676.600000,3.145272e+06,1.730538e+06,5.621716e+06,2.903695e+06,1.615876e+06,450754.200000,...,NaN,NaN,NaN,NaN,226.224637,211.874548,265.000000,263.500000,2.300000,1.000000
ALASKA,2002.916667,130564.916667,1.575220e+06,244759.666667,9.447525e+05,3.857078e+05,1.703918e+06,8.331643e+05,5.680875e+05,53843.583333,...,250.0,2792.0,1078.0,3950.0,233.364398,212.053199,263.250000,279.916667,2.250000,2.750000
AMERICAN_SAMOA,2001.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
ARIZONA,2000.615385,845247.750000,5.844787e+06,626933.769231,2.571066e+06,2.646787e+06,5.902011e+06,2.670232e+06,1.772767e+06,299930.833333,...,536.0,6501.0,2596.0,9155.0,223.641870,207.351466,262.307692,273.538462,2.000000,1.846154
ARKANSAS,1999.400000,425338.444444,2.772076e+06,310297.300000,1.898067e+06,5.637117e+05,2.872991e+06,1.498985e+06,8.314015e+05,226448.111111,...,153.0,1799.5,687.0,2548.5,220.163981,211.626388,265.000000,267.300000,2.300000,1.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VIRGIN_ISLANDS,1999.222222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
WASHINGTON,2000.800000,989531.400000,8.040462e+06,611588.533333,5.108409e+06,2.320465e+06,8.274374e+06,4.051430e+06,2.389421e+06,360961.666667,...,1357.0,15164.0,6319.0,21650.0,235.296123,221.399733,264.933333,284.066667,2.933333,2.933333
WEST_VIRGINIA,2002.272727,290657.636364,2.547078e+06,265345.000000,1.506213e+06,7.755195e+05,2.505726e+06,1.403144e+06,7.643409e+05,164292.545455,...,32.0,850.0,162.5,1171.5,228.558518,216.737567,263.818182,268.818182,2.727273,1.272727
WISCONSIN,2002.615385,865652.153846,8.655320e+06,563779.076923,4.169163e+06,3.922378e+06,8.678507e+06,4.664785e+06,2.642839e+06,337458.461538,...,404.0,4742.5,1774.0,7224.5,239.936725,222.241252,262.692308,284.923077,2.076923,3.000000
WYOMING,2000.300000,93091.300000,9.016033e+05,74242.500000,4.538004e+05,3.735604e+05,8.837627e+05,4.604522e+05,2.782458e+05,28063.100000,...,39.0,527.0,202.0,731.0,236.052046,221.716075,262.000000,282.500000,2.100000,2.900000

#### Adjustment for Inflation
I am using information from the consumer price index to create new columns that adjust expenditures to reflect inflation ✓
* https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/
* https://www.usinflationcalculator.com/frequently-asked-questions-faqs/#HowInflationCalculatorWorks

In [42]:
import numpy as np

In [43]:
cpi = {1992: 140.3,
       1993: 144.5,
       1994: 148.2,
       1995: 152.4,
       1996: 156.9,
       1997: 160.5,
       1998: 163.0,
       1999: 166.6,
       2000: 172.2,
       2001: 177.1,
       2002: 179.9,
       2003: 184.0,
       2004: 188.9,
       2005: 195.3,
       2006: 201.6,
       2007: 207.3,
       2008: 215.303,
       2009: 214.537,
       2010: 218.056,
       2011: 224.939,
       2012: 229.594,
       2013: 232.957,
       2014: 236.736,
       2015: 237.017,
       2016: 240.007,
       2017: 245.120,
       2018: 251.107,
       2019: 255.657}

In [44]:
baseline_year = 2019
baseline_inflation = cpi[baseline_year]
print(baseline_inflation)

255.657

In [45]:
def inflation_adjustment(row, baseline_inflation, src):
    return row[src] * (baseline_inflation/ cpi[row['YEAR']])

### ***Wrangle***

In [46]:
import numpy as np

In [47]:
def wrangle(X):
    # Prevent SettingWithCopyWarning
    X = X.copy()

    X = X.replace (0, np.NaN)

    # When columns have zeros and shouldn't, they are like null values.
    # So we will replace the zeros with nulls, and impute missing values later.
    cols_with_zeros = ['AVG_MATH_8_SCORE','AVG_READING_8_SCORE']
    for col in cols_with_zeros:
        X[col] = X[col].replace(0, np.nan)

    #Dropping rows if they do not contain any score data, will not drop if there is just 1 value
    X = X.dropna(axis=0, subset=['AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE'], how = 'any')

    #Dropping rows that do not contain any financial information
    X = X.dropna(axis=0, subset = ['TOTAL_REVENUE','FEDERAL_REVENUE','STATE_REVENUE','LOCAL_REVENUE','TOTAL_EXPENDITURE'], how = 'all')

    #Dropping columns
    #Primary Key is just State and Year
    #Dropping breakdown of demographics into male/female because this does not start to get recorded until 2009
    drop = ['PRIMARY_KEY',
            'GRADES_PK_HP','GRADES_KG_HP','GRADES_4_HP','GRADES_8_HP','GRADES_12_HP', 'GRADES_1_8_HP', 'GRADES_9_12_HP', 'GRADES_ALL_HP',
            'GRADES_PK_TR','GRADES_KG_TR','GRADES_4_TR','GRADES_8_TR','GRADES_12_TR', 'GRADES_1_8_TR', 'GRADES_9_12_TR', 'GRADES_ALL_TR',
            'GRADES_PK_AMM','GRADES_KG_AMM','GRADES_4_AMM','GRADES_8_AMM','GRADES_12_AMM', 'GRADES_1_8_AMM', 'GRADES_9_12_AMM', 'GRADES_ALL_AMM',
            'GRADES_PK_AMF','GRADES_KG_AMF','GRADES_4_AMF','GRADES_8_AMF','GRADES_12_AMF', 'GRADES_1_8_AMF', 'GRADES_9_12_AMF', 'GRADES_ALL_AMF',
            'GRADES_PK_ASM','GRADES_KG_ASM','GRADES_4_ASM','GRADES_8_ASM','GRADES_12_ASM', 'GRADES_1_8_ASM', 'GRADES_9_12_ASM', 'GRADES_ALL_ASM',
            'GRADES_PK_ASF','GRADES_KG_ASF','GRADES_4_ASF','GRADES_8_ASF','GRADES_12_ASF', 'GRADES_1_8_ASF', 'GRADES_9_12_ASF', 'GRADES_ALL_ASF',
            'GRADES_PK_HIM','GRADES_KG_HIM','GRADES_4_HIM','GRADES_8_HIM','GRADES_12_HIM', 'GRADES_1_8_HIM', 'GRADES_9_12_HIM', 'GRADES_ALL_HIM',
            'GRADES_PK_HIF','GRADES_KG_HIF','GRADES_4_HIF','GRADES_8_HIF','GRADES_12_HIF', 'GRADES_1_8_HIF', 'GRADES_9_12_HIF', 'GRADES_ALL_HIF',
            'GRADES_PK_BLM','GRADES_KG_BLM','GRADES_4_BLM','GRADES_8_BLM','GRADES_12_BLM', 'GRADES_1_8_BLM', 'GRADES_9_12_BLM', 'GRADES_ALL_BLM',
            'GRADES_PK_BLF','GRADES_KG_BLF','GRADES_4_BLF','GRADES_8_BLF','GRADES_12_BLF', 'GRADES_1_8_BLF', 'GRADES_9_12_BLF', 'GRADES_ALL_BLF',
            'GRADES_PK_WHM','GRADES_KG_WHM','GRADES_4_WHM','GRADES_8_WHM','GRADES_12_WHM', 'GRADES_1_8_WHM', 'GRADES_9_12_WHM', 'GRADES_ALL_WHM',
            'GRADES_PK_WHF','GRADES_KG_WHF','GRADES_4_WHF','GRADES_8_WHF','GRADES_12_WHF', 'GRADES_1_8_WHF', 'GRADES_9_12_WHF', 'GRADES_ALL_WHF',
            'GRADES_PK_HPM','GRADES_KG_HPM','GRADES_4_HPM','GRADES_8_HPM','GRADES_12_HPM', 'GRADES_1_8_HPM', 'GRADES_9_12_HPM', 'GRADES_ALL_HPM',
            'GRADES_PK_HPF','GRADES_KG_HPF','GRADES_4_HPF','GRADES_8_HPF','GRADES_12_HPF', 'GRADES_1_8_HPF', 'GRADES_9_12_HPF', 'GRADES_ALL_HPF',
            'GRADES_PK_TRM','GRADES_KG_TRM','GRADES_4_TRM','GRADES_8_TRM','GRADES_12_TRM', 'GRADES_1_8_TRM', 'GRADES_9_12_TRM', 'GRADES_ALL_TRM',
            'GRADES_PK_TRF','GRADES_KG_TRF','GRADES_4_TRF','GRADES_8_TRF','GRADES_12_TRF', 'GRADES_1_8_TRF', 'GRADES_9_12_TRF', 'GRADES_ALL_TRF']
    X = X.drop(columns=drop)

    #Filling missing scores with state average
    X['AVG_READING_8_SCORE'] = X.groupby('STATE')['AVG_READING_8_SCORE'].transform(lambda x: x.fillna(x.mean()))
    X['AVG_MATH_8_SCORE'] = X.groupby('STATE')['AVG_MATH_8_SCORE'].transform(lambda x: x.fillna(x.mean()))
    X['AVG_READING_4_SCORE'] = X.groupby('STATE')['AVG_READING_4_SCORE'].transform(lambda x: x.fillna(x.mean()))
    X['AVG_MATH_4_SCORE'] = X.groupby('STATE')['AVG_MATH_4_SCORE'].transform(lambda x: x.fillna(x.mean()))

    #Adjusting revenue and expenditures to reflect inflation
    #Revenue
    X['ADJUSTED_TOTAL_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'TOTAL_REVENUE'),axis=1)
    X['ADJUSTED_FEDERAL_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'FEDERAL_REVENUE'),axis=1)
    X['ADJUSTED_STATE_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'STATE_REVENUE'),axis=1)
    X['ADJUSTED_LOCAL_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'LOCAL_REVENUE'),axis=1)

    #Expenditures
    X['ADJUSTED_TOTAL_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'TOTAL_EXPENDITURE'),axis=1)
    X['ADJUSTED_INSTRUCTION_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'INSTRUCTION_EXPENDITURE'),axis=1)
    X['ADJUSTED_SUPPORT_SERVICES_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'SUPPORT_SERVICES_EXPENDITURE'),axis=1)
    X['ADJUSTED_OTHER_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'OTHER_EXPENDITURE'),axis=1)
    X['ADJUSTED_CAPITAL_OUTLAY_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'CAPITAL_OUTLAY_EXPENDITURE'),axis=1)
    
    #Calculating Percentages
    #%of total revenue spent on education
    X['%TOTAL_REVENUE'] = X['TOTAL_EXPENDITURE']/X['TOTAL_REVENUE']

    #% of total expenditure spent on instruction
    X['%TOTAL_EXPENDITURE_INSTRUCTION'] = X['INSTRUCTION_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    X['%TOTAL_EXPENDITURE_SUPPORT_SERVICES'] = X['SUPPORT_SERVICES_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    X['%TOTAL_EXPENDITURE_OTHER'] = X['OTHER_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    X['%TOTAL_EXPENDITURE_CAPITAL_OUTLAY'] = X['CAPITAL_OUTLAY_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    
    #Cost per student
    X['COST_PER_STUDENT'] = X['TOTAL_EXPENDITURE']/X['ENROLL']
    
    #Change year column to year
    X['YEAR'] = pd.to_datetime(X['YEAR'], infer_datetime_format = True)
    X['YEAR'] = X['YEAR'].dt.year
    
    #Return the wrangled dataframe
    return X

In [48]:
train = wrangle(train)
val = wrangle(val)
test = wrangle(test) 

train.shape, val.shape, test.shape

((221, 81), (150, 81), (153, 81))

In [49]:
train.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,ADJUSTED_INSTRUCTION_EXPENDITURE,ADJUSTED_SUPPORT_SERVICES_EXPENDITURE,ADJUSTED_OTHER_EXPENDITURE,ADJUSTED_CAPITAL_OUTLAY_EXPENDITURE,%TOTAL_REVENUE,%TOTAL_EXPENDITURE_INSTRUCTION,%TOTAL_EXPENDITURE_SUPPORT_SERVICES,%TOTAL_EXPENDITURE_OTHER,%TOTAL_EXPENDITURE_CAPITAL_OUTLAY,COST_PER_STUDENT
667,CALIFORNIA,1970,6307022.0,62171797.0,7148863.0,34912166.0,20110768.0,66196072.0,31070450.0,18046385.0,...,4.067270e+07,2.362358e+07,4.100546e+06,1.338325e+07,1.064728,0.469370,0.272620,0.047321,0.154445,10.495615
432,MISSISSIPPI,1970,499362.0,2743284.0,368830.0,1504225.0,870229.0,2996474.0,1524728.0,810371.0,...,2.263690e+06,1.203119e+06,2.718664e+05,6.251497e+05,1.092294,0.508841,0.270442,0.061111,0.140523,6.000605
248,UTAH,1970,474907.0,2035726.0,134703.0,1197910.0,703113.0,2150719.0,1132806.0,471430.0,...,1.845824e+06,7.681605e+05,2.502489e+05,5.582561e+05,1.056487,0.526710,0.219196,0.071409,0.159300,4.528716
572,HAWAII,1970,183829.0,2078877.0,170377.0,1873318.0,35182.0,1602392.0,888473.0,521929.0,...,1.234480e+06,7.251891e+05,1.791558e+05,8.760282e+04,0.770797,0.554467,0.325719,0.080468,0.039347,8.716753
583,MICHIGAN,1970,1764327.0,18488359.0,1357006.0,11227903.0,5903450.0,19680370.0,8725075.0,6144707.0,...,1.212297e+07,8.537703e+06,1.173746e+06,3.409036e+06,1.064474,0.443339,0.312225,0.042924,0.124669,11.154605

In [50]:
train.STATE.nunique(), val.STATE.nunique(), test.STATE.nunique()

(51, 49, 51)

### ***Baseline***

In [51]:
train['READING_PROF_8'].value_counts(normalize=True)

2.0    0.542986
3.0    0.447964
1.0    0.009050
Name: READING_PROF_8, dtype: float64

My baseline is ~50% for my majority class 2

# ***Fit a Model***

In [52]:
%matplotlib inline
import category_encoders as ce

from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline

In [53]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [54]:
features = ['YEAR', 'ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE',
       'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE',
       'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE',
       'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE','AVG_MATH_4_SCORE',
       'AVG_READING_4_SCORE', 'AVG_MATH_8_SCORE', 
       'MATH_PROF_8', 'ADJUSTED_TOTAL_REVENUE',
       'ADJUSTED_FEDERAL_REVENUE', 'ADJUSTED_STATE_REVENUE',
       'ADJUSTED_LOCAL_REVENUE', 'ADJUSTED_TOTAL_EXPENDITURE',
       'ADJUSTED_INSTRUCTION_EXPENDITURE',
       'ADJUSTED_SUPPORT_SERVICES_EXPENDITURE', 'ADJUSTED_OTHER_EXPENDITURE',
       'ADJUSTED_CAPITAL_OUTLAY_EXPENDITURE', '%TOTAL_REVENUE',
       '%TOTAL_EXPENDITURE_INSTRUCTION', '%TOTAL_EXPENDITURE_SUPPORT_SERVICES',
       '%TOTAL_EXPENDITURE_OTHER', '%TOTAL_EXPENDITURE_CAPITAL_OUTLAY',
       'COST_PER_STUDENT']

target = 'READING_PROF_8'
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

## ***Random Forest***

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
#Fit on train, score on val
rf1 = make_pipeline(
    SimpleImputer(),
    RandomForestClassifier(n_estimators=1000, criterion='entropy', 
                           max_depth=None, min_samples_split=5, 
                           min_samples_leaf=1, min_weight_fraction_leaf=0.0, 
                           max_features=None, max_leaf_nodes=None, 
                           min_impurity_decrease=0.0, min_impurity_split=None, 
                           bootstrap=False, oob_score=False, n_jobs=-1, 
                           random_state=42, verbose=2, warm_start=True, 
                           class_weight='balanced')
)
rf1.fit(X_train, y_train)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:569: UserWarning: class_weight presets "balanced" or "balanced_subsample" are not recommended for warm_start if the fitted data differs from the full dataset. In order to use "balanced" weights, use compute_class_weight ("balanced", classes, y). In place of y you can use a large enough sample of the full training set target to properly estimate the class frequency distributions. Pass the resulting weights as the class_weight parameter.
  warn('class_weight presets "balanced" or '
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 1 of 1000building tree 2 of 1000
building tree 3 of 1000

building tree 4 of 1000
building tree 5 of 1000
building tree 6 of 1000
building tree 7 of 1000
building tree 8 of 1000
building tree 9 of 1000building tree 10 of 1000

building tree 11 of 1000
building tree 12 of 1000
building tree 13 of 1000
building tree 14 of 1000building tree 15 of 1000

building tree 16 of 1000
building tree 17 of 1000
building tree 18 of 1000
building tree 19 of 1000building tree 20 of 1000
building tree 21 of 1000

building tree 22 of 1000
building tree 23 of 1000
building tree 24 of 1000
building tree 25 of 1000building tree 26 of 1000

building tree 27 of 1000building tree 28 of 1000

building tree 29 of 1000building tree 30 of 1000

building tree 31 of 1000
building tree 32 of 1000
building tree 33 of 1000
building tree 34 of 1000
building tree 35 of 1000
building tree 36 of 1000
building tree 37 of 1000building tree 38 of 1000

building tree 39 of 1000
building tree 40 of 1000
building tree 41 of 1000
building tree 42 of 1000
building tree 43 of 1000building tree 44 of 1000
building tree 45 of 1000
building tree 46 of 1000
building tree 47 of 1000

building tree 48 of 1000
building tree 49 of 1000
building tree 50 of 1000
building tree 51 of 1000
building tree 52 of 1000
building tree 53 of 1000

[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    0.3s

building tree 54 of 1000
building tree 55 of 1000
building tree 56 of 1000building tree 57 of 1000

building tree 58 of 1000
building tree 59 of 1000
building tree 60 of 1000
building tree 61 of 1000
building tree 62 of 1000
building tree 63 of 1000
building tree 64 of 1000building tree 65 of 1000

building tree 66 of 1000
building tree 67 of 1000
building tree 68 of 1000
building tree 69 of 1000
building tree 70 of 1000
building tree 71 of 1000
building tree 72 of 1000
building tree 73 of 1000
building tree 74 of 1000
building tree 75 of 1000
building tree 76 of 1000
building tree 77 of 1000
building tree 78 of 1000
building tree 79 of 1000
building tree 80 of 1000building tree 81 of 1000

building tree 82 of 1000
building tree 83 of 1000
building tree 84 of 1000
building tree 85 of 1000
building tree 86 of 1000building tree 87 of 1000
building tree 88 of 1000

building tree 89 of 1000building tree 90 of 1000
building tree 91 of 1000

building tree 92 of 1000building tree 93 of 1000building tree 94 of 1000


building tree 95 of 1000
building tree 96 of 1000
building tree 97 of 1000
building tree 98 of 1000
building tree 99 of 1000
building tree 100 of 1000
building tree 101 of 1000
building tree 102 of 1000
building tree 103 of 1000
building tree 104 of 1000
building tree 105 of 1000
building tree 106 of 1000building tree 107 of 1000

building tree 108 of 1000
building tree 109 of 1000
building tree 110 of 1000
building tree 111 of 1000
building tree 112 of 1000building tree 113 of 1000

building tree 114 of 1000building tree 115 of 1000
building tree 116 of 1000
building tree 117 of 1000
building tree 118 of 1000
building tree 119 of 1000

building tree 120 of 1000
building tree 121 of 1000
building tree 122 of 1000
building tree 123 of 1000
building tree 124 of 1000
building tree 125 of 1000building tree 126 of 1000

building tree 127 of 1000
building tree 128 of 1000
building tree 129 of 1000
building tree 130 of 1000
building tree 131 of 1000building tree 132 of 1000

building tree 133 of 1000
building tree 134 of 1000
building tree 135 of 1000
building tree 136 of 1000building tree 137 of 1000

building tree 138 of 1000
building tree 139 of 1000
building tree 140 of 1000
building tree 141 of 1000
building tree 142 of 1000
building tree 143 of 1000
building tree 144 of 1000
building tree 145 of 1000
building tree 146 of 1000
building tree 147 of 1000building tree 148 of 1000

building tree 149 of 1000
building tree 150 of 1000
building tree 151 of 1000building tree 152 of 1000
building tree 153 of 1000

building tree 154 of 1000building tree 155 of 1000
building tree 156 of 1000
building tree 157 of 1000
building tree 158 of 1000
building tree 159 of 1000
building tree 160 of 1000

building tree 161 of 1000
building tree 162 of 1000
building tree 163 of 1000building tree 164 of 1000

[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:    1.4s

building tree 165 of 1000
building tree 166 of 1000
building tree 167 of 1000

building tree 168 of 1000building tree 169 of 1000

building tree 170 of 1000building tree 171 of 1000

building tree 172 of 1000
building tree 173 of 1000
building tree 174 of 1000building tree 175 of 1000

building tree 176 of 1000
building tree 177 of 1000
building tree 178 of 1000
building tree 179 of 1000
building tree 180 of 1000
building tree 181 of 1000
building tree 182 of 1000
building tree 183 of 1000
building tree 184 of 1000
building tree 185 of 1000
building tree 186 of 1000
building tree 187 of 1000
building tree 188 of 1000
building tree 189 of 1000
building tree 190 of 1000
building tree 191 of 1000building tree 192 of 1000
building tree 193 of 1000building tree 194 of 1000


building tree 195 of 1000
building tree 196 of 1000
building tree 197 of 1000
building tree 198 of 1000
building tree 199 of 1000
building tree 200 of 1000
building tree 201 of 1000
building tree 202 of 1000
building tree 203 of 1000
building tree 204 of 1000
building tree 205 of 1000
building tree 206 of 1000
building tree 207 of 1000
building tree 208 of 1000
building tree 209 of 1000building tree 210 of 1000

building tree 211 of 1000building tree 212 of 1000

building tree 213 of 1000
building tree 214 of 1000
building tree 215 of 1000
building tree 216 of 1000
building tree 217 of 1000
building tree 218 of 1000
building tree 219 of 1000
building tree 220 of 1000
building tree 221 of 1000
building tree 223 of 1000
building tree 224 of 1000
building tree 225 of 1000
building tree 226 of 1000
building tree 227 of 1000
building tree 228 of 1000building tree 222 of 1000

building tree 229 of 1000building tree 230 of 1000
building tree 231 of 1000

building tree 232 of 1000building tree 233 of 1000

building tree 234 of 1000
building tree 235 of 1000
building tree 236 of 1000
building tree 237 of 1000building tree 238 of 1000

building tree 239 of 1000
building tree 240 of 1000
building tree 241 of 1000
building tree 242 of 1000
building tree 243 of 1000
building tree 244 of 1000
building tree 245 of 1000building tree 246 of 1000building tree 247 of 1000


building tree 248 of 1000building tree 249 of 1000
building tree 250 of 1000
building tree 251 of 1000
building tree 252 of 1000
building tree 253 of 1000
building tree 254 of 1000
building tree 255 of 1000

building tree 256 of 1000
building tree 257 of 1000building tree 258 of 1000

building tree 259 of 1000
building tree 260 of 1000building tree 261 of 1000

building tree 262 of 1000building tree 263 of 1000

building tree 264 of 1000building tree 265 of 1000

building tree 266 of 1000
building tree 267 of 1000
building tree 268 of 1000
building tree 269 of 1000
building tree 270 of 1000
building tree 271 of 1000
building tree 272 of 1000
building tree 273 of 1000
building tree 274 of 1000
building tree 275 of 1000
building tree 276 of 1000
building tree 277 of 1000
building tree 278 of 1000building tree 279 of 1000building tree 280 of 1000

building tree 281 of 1000

building tree 282 of 1000building tree 283 of 1000

building tree 284 of 1000
building tree 285 of 1000building tree 286 of 1000

building tree 287 of 1000
building tree 288 of 1000
building tree 289 of 1000
building tree 290 of 1000
building tree 291 of 1000
building tree 292 of 1000
building tree 293 of 1000
building tree 294 of 1000
building tree 295 of 1000building tree 296 of 1000
building tree 297 of 1000
building tree 298 of 1000
building tree 299 of 1000

building tree 300 of 1000
building tree 301 of 1000building tree 302 of 1000building tree 303 of 1000


building tree 304 of 1000
building tree 305 of 1000
building tree 306 of 1000building tree 307 of 1000

building tree 308 of 1000
building tree 309 of 1000building tree 310 of 1000building tree 311 of 1000


building tree 312 of 1000
building tree 313 of 1000
building tree 314 of 1000
building tree 315 of 1000building tree 316 of 1000
building tree 317 of 1000
building tree 318 of 1000
building tree 319 of 1000

building tree 320 of 1000building tree 321 of 1000
building tree 322 of 1000

building tree 323 of 1000
building tree 324 of 1000
building tree 325 of 1000
building tree 326 of 1000building tree 327 of 1000

building tree 328 of 1000
building tree 329 of 1000
building tree 330 of 1000
building tree 331 of 1000
building tree 332 of 1000
building tree 333 of 1000
building tree 334 of 1000
building tree 335 of 1000
building tree 336 of 1000
building tree 337 of 1000
building tree 338 of 1000
building tree 339 of 1000
building tree 340 of 1000
building tree 341 of 1000
building tree 342 of 1000
building tree 343 of 1000
building tree 344 of 1000building tree 345 of 1000

building tree 346 of 1000
building tree 347 of 1000
building tree 348 of 1000
building tree 349 of 1000
building tree 350 of 1000
building tree 351 of 1000
building tree 352 of 1000
building tree 353 of 1000
building tree 354 of 1000
building tree 355 of 1000
building tree 356 of 1000
building tree 357 of 1000building tree 358 of 1000

building tree 359 of 1000
building tree 360 of 1000building tree 361 of 1000

building tree 362 of 1000
building tree 363 of 1000
building tree 364 of 1000
building tree 365 of 1000
building tree 366 of 1000building tree 367 of 1000
building tree 368 of 1000

[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:    3.1s

building tree 369 of 1000
building tree 370 of 1000
building tree 371 of 1000
building tree 372 of 1000
building tree 373 of 1000

building tree 374 of 1000
building tree 375 of 1000
building tree 376 of 1000building tree 377 of 1000

building tree 378 of 1000building tree 379 of 1000

building tree 380 of 1000building tree 381 of 1000
building tree 382 of 1000

building tree 383 of 1000
building tree 384 of 1000
building tree 385 of 1000
building tree 386 of 1000
building tree 387 of 1000
building tree 388 of 1000
building tree 389 of 1000
building tree 390 of 1000
building tree 391 of 1000building tree 392 of 1000

building tree 393 of 1000
building tree 394 of 1000
building tree 395 of 1000
building tree 396 of 1000
building tree 397 of 1000
building tree 398 of 1000
building tree 399 of 1000building tree 400 of 1000

building tree 401 of 1000
building tree 402 of 1000
building tree 403 of 1000
building tree 404 of 1000
building tree 405 of 1000
building tree 406 of 1000
building tree 407 of 1000
building tree 408 of 1000
building tree 409 of 1000
building tree 410 of 1000
building tree 411 of 1000
building tree 412 of 1000
building tree 413 of 1000
building tree 414 of 1000building tree 415 of 1000

building tree 416 of 1000
building tree 417 of 1000
building tree 418 of 1000building tree 419 of 1000

building tree 420 of 1000
building tree 421 of 1000
building tree 422 of 1000building tree 423 of 1000

building tree 424 of 1000
building tree 425 of 1000
building tree 426 of 1000
building tree 427 of 1000
building tree 428 of 1000
building tree 429 of 1000
building tree 430 of 1000
building tree 431 of 1000building tree 432 of 1000
building tree 433 of 1000

building tree 434 of 1000
building tree 435 of 1000
building tree 436 of 1000building tree 437 of 1000
building tree 438 of 1000building tree 439 of 1000


building tree 440 of 1000building tree 441 of 1000

building tree 442 of 1000
building tree 443 of 1000building tree 444 of 1000

building tree 445 of 1000
building tree 446 of 1000building tree 447 of 1000

building tree 448 of 1000building tree 449 of 1000

building tree 450 of 1000building tree 451 of 1000

building tree 452 of 1000
building tree 453 of 1000
building tree 454 of 1000
building tree 455 of 1000building tree 456 of 1000

building tree 457 of 1000building tree 458 of 1000
building tree 459 of 1000

building tree 460 of 1000building tree 461 of 1000

building tree 462 of 1000
building tree 463 of 1000
building tree 464 of 1000
building tree 465 of 1000
building tree 466 of 1000building tree 467 of 1000building tree 468 of 1000


building tree 469 of 1000
building tree 470 of 1000
building tree 471 of 1000
building tree 472 of 1000
building tree 473 of 1000
building tree 474 of 1000building tree 475 of 1000

building tree 476 of 1000
building tree 477 of 1000
building tree 478 of 1000
building tree 479 of 1000
building tree 480 of 1000
building tree 481 of 1000
building tree 482 of 1000building tree 483 of 1000
building tree 484 of 1000

building tree 485 of 1000
building tree 486 of 1000
building tree 487 of 1000building tree 488 of 1000

building tree 489 of 1000
building tree 490 of 1000
building tree 491 of 1000building tree 492 of 1000

building tree 493 of 1000
building tree 494 of 1000
building tree 495 of 1000
building tree 496 of 1000building tree 497 of 1000

building tree 498 of 1000
building tree 499 of 1000
building tree 500 of 1000
building tree 501 of 1000
building tree 502 of 1000
building tree 503 of 1000building tree 504 of 1000

building tree 505 of 1000
building tree 506 of 1000building tree 507 of 1000

building tree 508 of 1000
building tree 509 of 1000
building tree 510 of 1000
building tree 511 of 1000
building tree 512 of 1000building tree 513 of 1000

building tree 514 of 1000
building tree 515 of 1000building tree 516 of 1000

building tree 517 of 1000building tree 518 of 1000
building tree 519 of 1000

building tree 520 of 1000building tree 521 of 1000building tree 522 of 1000
building tree 523 of 1000


building tree 524 of 1000
building tree 525 of 1000
building tree 526 of 1000
building tree 527 of 1000
building tree 528 of 1000
building tree 529 of 1000
building tree 530 of 1000
building tree 531 of 1000building tree 532 of 1000

building tree 533 of 1000
building tree 534 of 1000
building tree 535 of 1000
building tree 536 of 1000
building tree 537 of 1000
building tree 538 of 1000
building tree 539 of 1000
building tree 540 of 1000
building tree 541 of 1000
building tree 542 of 1000
building tree 543 of 1000
building tree 544 of 1000
building tree 545 of 1000
building tree 546 of 1000
building tree 547 of 1000
building tree 548 of 1000
building tree 549 of 1000
building tree 550 of 1000
building tree 551 of 1000
building tree 552 of 1000
building tree 553 of 1000building tree 554 of 1000

building tree 555 of 1000
building tree 556 of 1000
building tree 557 of 1000
building tree 558 of 1000
building tree 559 of 1000
building tree 560 of 1000
building tree 561 of 1000
building tree 562 of 1000
building tree 563 of 1000
building tree 564 of 1000
building tree 565 of 1000
building tree 566 of 1000building tree 567 of 1000

building tree 568 of 1000
building tree 569 of 1000
building tree 570 of 1000
building tree 571 of 1000
building tree 572 of 1000
building tree 573 of 1000
building tree 574 of 1000
building tree 575 of 1000building tree 576 of 1000

building tree 577 of 1000
building tree 578 of 1000
building tree 579 of 1000
building tree 580 of 1000
building tree 581 of 1000
building tree 582 of 1000
building tree 583 of 1000
building tree 584 of 1000building tree 585 of 1000

building tree 586 of 1000
building tree 587 of 1000
building tree 588 of 1000
building tree 589 of 1000
building tree 590 of 1000building tree 591 of 1000

building tree 592 of 1000
building tree 593 of 1000
building tree 594 of 1000
building tree 595 of 1000
building tree 596 of 1000
building tree 597 of 1000
building tree 598 of 1000
building tree 599 of 1000
building tree 600 of 1000
building tree 601 of 1000building tree 602 of 1000
building tree 603 of 1000

building tree 604 of 1000
building tree 605 of 1000
building tree 606 of 1000building tree 607 of 1000
building tree 608 of 1000

building tree 609 of 1000building tree 610 of 1000building tree 611 of 1000


building tree 612 of 1000
building tree 613 of 1000building tree 614 of 1000building tree 615 of 1000


building tree 616 of 1000
building tree 617 of 1000
building tree 618 of 1000
building tree 619 of 1000building tree 620 of 1000

building tree 621 of 1000
building tree 622 of 1000building tree 623 of 1000

building tree 624 of 1000
building tree 625 of 1000
building tree 626 of 1000
building tree 627 of 1000building tree 628 of 1000

building tree 629 of 1000
building tree 630 of 1000
building tree 631 of 1000
building tree 632 of 1000
building tree 633 of 1000
building tree 634 of 1000
building tree 635 of 1000building tree 636 of 1000
building tree 637 of 1000

building tree 638 of 1000
building tree 639 of 1000
building tree 640 of 1000
building tree 641 of 1000
building tree 642 of 1000building tree 643 of 1000

building tree 644 of 1000building tree 646 of 1000

building tree 645 of 1000building tree 647 of 1000
building tree 648 of 1000

building tree 649 of 1000
building tree 650 of 1000
building tree 651 of 1000
building tree 652 of 1000

[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:    5.4s

building tree 653 of 1000
building tree 654 of 1000
building tree 655 of 1000
building tree 656 of 1000
building tree 657 of 1000
building tree 658 of 1000
building tree 659 of 1000
building tree 660 of 1000building tree 661 of 1000

building tree 662 of 1000
building tree 663 of 1000
building tree 664 of 1000
building tree 665 of 1000
building tree 666 of 1000building tree 667 of 1000
building tree 668 of 1000
building tree 669 of 1000
building tree 670 of 1000
building tree 671 of 1000
building tree 672 of 1000
building tree 673 of 1000

building tree 674 of 1000
building tree 675 of 1000
building tree 676 of 1000
building tree 677 of 1000
building tree 678 of 1000
building tree 679 of 1000
building tree 680 of 1000
building tree 681 of 1000
building tree 682 of 1000
building tree 683 of 1000building tree 684 of 1000
building tree 685 of 1000
building tree 686 of 1000building tree 687 of 1000

building tree 688 of 1000building tree 689 of 1000building tree 690 of 1000



building tree 691 of 1000
building tree 692 of 1000
building tree 693 of 1000
building tree 694 of 1000
building tree 695 of 1000
building tree 696 of 1000building tree 697 of 1000

building tree 698 of 1000
building tree 699 of 1000
building tree 700 of 1000
building tree 701 of 1000
building tree 702 of 1000building tree 703 of 1000

building tree 704 of 1000
building tree 705 of 1000building tree 706 of 1000

building tree 707 of 1000
building tree 708 of 1000
building tree 709 of 1000
building tree 710 of 1000building tree 711 of 1000

building tree 712 of 1000
building tree 713 of 1000
building tree 714 of 1000
building tree 715 of 1000building tree 716 of 1000
building tree 717 of 1000

building tree 718 of 1000
building tree 719 of 1000
building tree 720 of 1000
building tree 721 of 1000
building tree 722 of 1000
building tree 723 of 1000
building tree 724 of 1000building tree 725 of 1000

building tree 726 of 1000
building tree 727 of 1000
building tree 728 of 1000
building tree 729 of 1000
building tree 730 of 1000
building tree 731 of 1000
building tree 732 of 1000building tree 733 of 1000
building tree 734 of 1000
building tree 735 of 1000

building tree 736 of 1000
building tree 737 of 1000
building tree 738 of 1000building tree 739 of 1000

building tree 740 of 1000
building tree 741 of 1000building tree 742 of 1000building tree 743 of 1000


building tree 744 of 1000
building tree 745 of 1000
building tree 746 of 1000
building tree 747 of 1000
building tree 748 of 1000
building tree 749 of 1000
building tree 750 of 1000building tree 751 of 1000

building tree 752 of 1000
building tree 753 of 1000
building tree 754 of 1000
building tree 755 of 1000
building tree 756 of 1000
building tree 757 of 1000
building tree 758 of 1000building tree 759 of 1000building tree 760 of 1000


building tree 761 of 1000
building tree 762 of 1000building tree 763 of 1000

building tree 764 of 1000
building tree 765 of 1000building tree 766 of 1000
building tree 767 of 1000

building tree 768 of 1000
building tree 769 of 1000building tree 770 of 1000building tree 771 of 1000


building tree 772 of 1000
building tree 773 of 1000
building tree 774 of 1000
building tree 775 of 1000
building tree 776 of 1000building tree 777 of 1000

building tree 778 of 1000
building tree 779 of 1000
building tree 780 of 1000building tree 781 of 1000

building tree 782 of 1000building tree 783 of 1000

building tree 784 of 1000
building tree 785 of 1000
building tree 786 of 1000
building tree 787 of 1000building tree 788 of 1000
building tree 789 of 1000

building tree 790 of 1000
building tree 791 of 1000
building tree 792 of 1000building tree 793 of 1000
building tree 794 of 1000building tree 795 of 1000


building tree 796 of 1000
building tree 797 of 1000building tree 798 of 1000

building tree 799 of 1000building tree 800 of 1000
building tree 801 of 1000

building tree 802 of 1000
building tree 803 of 1000
building tree 804 of 1000
building tree 805 of 1000building tree 806 of 1000

building tree 807 of 1000
building tree 808 of 1000
building tree 809 of 1000
building tree 810 of 1000
building tree 811 of 1000
building tree 812 of 1000
building tree 813 of 1000
building tree 814 of 1000
building tree 815 of 1000
building tree 816 of 1000
building tree 817 of 1000
building tree 818 of 1000
building tree 819 of 1000building tree 820 of 1000

building tree 821 of 1000building tree 822 of 1000

building tree 823 of 1000
building tree 824 of 1000
building tree 825 of 1000building tree 826 of 1000

building tree 827 of 1000
building tree 828 of 1000
building tree 829 of 1000building tree 830 of 1000

building tree 831 of 1000
building tree 832 of 1000
building tree 833 of 1000building tree 834 of 1000
building tree 835 of 1000
building tree 836 of 1000

building tree 837 of 1000
building tree 838 of 1000
building tree 839 of 1000
building tree 840 of 1000building tree 841 of 1000

building tree 842 of 1000
building tree 843 of 1000building tree 844 of 1000

building tree 845 of 1000
building tree 846 of 1000
building tree 847 of 1000building tree 848 of 1000

building tree 849 of 1000
building tree 850 of 1000
building tree 851 of 1000
building tree 852 of 1000
building tree 853 of 1000
building tree 854 of 1000
building tree 855 of 1000
building tree 856 of 1000
building tree 857 of 1000
building tree 858 of 1000
building tree 859 of 1000
building tree 860 of 1000
building tree 861 of 1000
building tree 862 of 1000
building tree 863 of 1000
building tree 864 of 1000
building tree 865 of 1000
building tree 866 of 1000
building tree 867 of 1000
building tree 868 of 1000building tree 869 of 1000

building tree 870 of 1000
building tree 871 of 1000
building tree 872 of 1000
building tree 873 of 1000
building tree 874 of 1000
building tree 875 of 1000
building tree 876 of 1000
building tree 877 of 1000
building tree 878 of 1000
building tree 879 of 1000
building tree 880 of 1000building tree 881 of 1000
building tree 882 of 1000
building tree 883 of 1000
building tree 884 of 1000

building tree 885 of 1000building tree 886 of 1000

building tree 887 of 1000
building tree 888 of 1000
building tree 889 of 1000
building tree 890 of 1000
building tree 891 of 1000building tree 892 of 1000

building tree 893 of 1000
building tree 894 of 1000
building tree 895 of 1000
building tree 896 of 1000
building tree 897 of 1000
building tree 898 of 1000
building tree 899 of 1000
building tree 900 of 1000
building tree 901 of 1000building tree 902 of 1000

building tree 903 of 1000
building tree 904 of 1000
building tree 905 of 1000
building tree 906 of 1000
building tree 907 of 1000
building tree 908 of 1000
building tree 909 of 1000
building tree 910 of 1000
building tree 911 of 1000
building tree 912 of 1000
building tree 913 of 1000
building tree 914 of 1000
building tree 915 of 1000
building tree 916 of 1000
building tree 917 of 1000
building tree 918 of 1000
building tree 919 of 1000
building tree 920 of 1000
building tree 921 of 1000building tree 922 of 1000

building tree 923 of 1000
building tree 924 of 1000
building tree 925 of 1000
building tree 926 of 1000
building tree 927 of 1000
building tree 928 of 1000
building tree 929 of 1000
building tree 930 of 1000building tree 931 of 1000
building tree 932 of 1000
building tree 933 of 1000
building tree 934 of 1000
building tree 935 of 1000
building tree 936 of 1000
building tree 937 of 1000
building tree 938 of 1000
building tree 939 of 1000
building tree 940 of 1000
building tree 941 of 1000building tree 942 of 1000

building tree 943 of 1000

building tree 944 of 1000
building tree 945 of 1000
building tree 946 of 1000
building tree 947 of 1000
building tree 948 of 1000
building tree 949 of 1000
building tree 950 of 1000
building tree 951 of 1000
building tree 952 of 1000
building tree 953 of 1000
building tree 954 of 1000
building tree 955 of 1000
building tree 956 of 1000
building tree 957 of 1000
building tree 958 of 1000
building tree 959 of 1000building tree 960 of 1000

building tree 961 of 1000
building tree 962 of 1000
building tree 963 of 1000
building tree 964 of 1000
building tree 965 of 1000
building tree 966 of 1000
building tree 967 of 1000building tree 968 of 1000

building tree 969 of 1000
building tree 970 of 1000
building tree 971 of 1000
building tree 972 of 1000
building tree 973 of 1000
building tree 974 of 1000
building tree 975 of 1000
building tree 976 of 1000
building tree 977 of 1000
building tree 978 of 1000
building tree 979 of 1000
building tree 980 of 1000
building tree 981 of 1000
building tree 982 of 1000
building tree 983 of 1000building tree 984 of 1000
building tree 985 of 1000

building tree 986 of 1000building tree 987 of 1000

building tree 988 of 1000
building tree 989 of 1000building tree 990 of 1000

building tree 991 of 1000
building tree 992 of 1000
building tree 993 of 1000
building tree 995 of 1000
building tree 996 of 1000
building tree 994 of 1000
building tree 997 of 1000
building tree 998 of 1000
building tree 999 of 1000
building tree 1000 of 1000

[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    8.5s finished

Pipeline(memory=None,
         steps=[('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('randomforestclassifier',
                 RandomForestClassifier(bootstrap=False, ccp_alpha=0.0,
                                        class_weight='balanced',
                                        criterion='entropy', max_depth=None,
                                        max_features=None, max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=5,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=1000, n_jobs=-1,
                                        oob_score=False, random_state=42,
                                        verbose=2, warm_start=True))],
         verbose=False)

In [57]:
# Val accuracy
print('Train Accuracy', rf1.score(X_train, y_train))
print('Validation Accuracy', rf1.score(X_val, y_val))

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.

Train Accuracy 0.9864253393665159

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.2s

Validation Accuracy 0.4533333333333333

[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.4s finished

# New Features

In [58]:
features = ['STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE',
       'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE',
       'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE',
       'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE','AVG_MATH_4_SCORE',
       'AVG_READING_4_SCORE', 'AVG_MATH_8_SCORE', 
       'MATH_PROF_8', 'ADJUSTED_TOTAL_REVENUE',
       'ADJUSTED_FEDERAL_REVENUE', 'ADJUSTED_STATE_REVENUE',
       'ADJUSTED_LOCAL_REVENUE', 'ADJUSTED_TOTAL_EXPENDITURE',
       'ADJUSTED_INSTRUCTION_EXPENDITURE',
       'ADJUSTED_SUPPORT_SERVICES_EXPENDITURE', 'ADJUSTED_OTHER_EXPENDITURE',
       'ADJUSTED_CAPITAL_OUTLAY_EXPENDITURE', '%TOTAL_REVENUE',
       '%TOTAL_EXPENDITURE_INSTRUCTION', '%TOTAL_EXPENDITURE_SUPPORT_SERVICES',
       '%TOTAL_EXPENDITURE_OTHER', '%TOTAL_EXPENDITURE_CAPITAL_OUTLAY',
       'COST_PER_STUDENT']

target = 'READING_PROF_8'
X_train_new = train[features]
y_train = train[target]
X_val_new = val[features]
y_val = val[target]
X_test_new = test[features]
y_test = test[target]

In [59]:
#Fit on train, score on val
rf2 = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(),
    RandomForestClassifier(n_estimators=1000, criterion='entropy', 
                           max_depth=None, min_samples_split=5, 
                           min_samples_leaf=1, min_weight_fraction_leaf=0.0, 
                           max_features=None, max_leaf_nodes=None, 
                           min_impurity_decrease=0.0, min_impurity_split=None, 
                           bootstrap=False, oob_score=False, n_jobs=-1, 
                           random_state=42, verbose=2, warm_start=True, 
                           class_weight='balanced')
)
rf2.fit(X_train_new, y_train)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/_forest.py:569: UserWarning: class_weight presets "balanced" or "balanced_subsample" are not recommended for warm_start if the fitted data differs from the full dataset. In order to use "balanced" weights, use compute_class_weight ("balanced", classes, y). In place of y you can use a large enough sample of the full training set target to properly estimate the class frequency distributions. Pass the resulting weights as the class_weight parameter.
  warn('class_weight presets "balanced" or '
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    0.2s

building tree 1 of 1000building tree 2 of 1000
building tree 3 of 1000

building tree 4 of 1000
building tree 5 of 1000
building tree 6 of 1000building tree 7 of 1000

building tree 8 of 1000
building tree 9 of 1000building tree 10 of 1000

building tree 11 of 1000building tree 12 of 1000

building tree 13 of 1000building tree 14 of 1000

building tree 15 of 1000
building tree 16 of 1000
building tree 17 of 1000
building tree 18 of 1000building tree 19 of 1000

building tree 20 of 1000
building tree 21 of 1000building tree 22 of 1000

building tree 23 of 1000
building tree 24 of 1000
building tree 25 of 1000building tree 26 of 1000

building tree 27 of 1000
building tree 28 of 1000
building tree 29 of 1000building tree 30 of 1000

building tree 31 of 1000building tree 32 of 1000

building tree 33 of 1000
building tree 34 of 1000building tree 35 of 1000

building tree 36 of 1000
building tree 37 of 1000
building tree 38 of 1000building tree 39 of 1000

building tree 40 of 1000
building tree 41 of 1000building tree 42 of 1000

building tree 43 of 1000building tree 44 of 1000

building tree 45 of 1000
building tree 46 of 1000
building tree 47 of 1000
building tree 48 of 1000
building tree 49 of 1000
building tree 50 of 1000
building tree 51 of 1000building tree 52 of 1000

building tree 53 of 1000
building tree 54 of 1000
building tree 55 of 1000building tree 56 of 1000

building tree 57 of 1000
building tree 58 of 1000building tree 59 of 1000building tree 60 of 1000


building tree 61 of 1000
building tree 62 of 1000
building tree 63 of 1000building tree 64 of 1000

building tree 65 of 1000
building tree 66 of 1000
building tree 67 of 1000
building tree 68 of 1000
building tree 69 of 1000
building tree 70 of 1000
building tree 71 of 1000building tree 72 of 1000

building tree 73 of 1000
building tree 74 of 1000
building tree 75 of 1000
building tree 76 of 1000
building tree 77 of 1000
building tree 78 of 1000
building tree 79 of 1000
building tree 80 of 1000building tree 81 of 1000

building tree 82 of 1000
building tree 83 of 1000
building tree 84 of 1000building tree 85 of 1000

building tree 86 of 1000
building tree 87 of 1000
building tree 88 of 1000
building tree 89 of 1000
building tree 90 of 1000building tree 91 of 1000

building tree 92 of 1000
building tree 93 of 1000
building tree 94 of 1000
building tree 95 of 1000building tree 96 of 1000

building tree 97 of 1000
building tree 98 of 1000
building tree 99 of 1000building tree 100 of 1000

building tree 101 of 1000building tree 102 of 1000

building tree 103 of 1000building tree 104 of 1000
building tree 105 of 1000

building tree 106 of 1000building tree 107 of 1000

building tree 108 of 1000
building tree 109 of 1000building tree 110 of 1000building tree 111 of 1000


building tree 112 of 1000
building tree 113 of 1000
building tree 114 of 1000
building tree 115 of 1000
building tree 116 of 1000
building tree 117 of 1000
building tree 118 of 1000
building tree 119 of 1000building tree 120 of 1000
building tree 121 of 1000
building tree 122 of 1000

building tree 123 of 1000building tree 124 of 1000

building tree 125 of 1000building tree 126 of 1000
building tree 127 of 1000building tree 128 of 1000


building tree 129 of 1000
building tree 130 of 1000building tree 131 of 1000
building tree 132 of 1000

building tree 133 of 1000
building tree 134 of 1000
building tree 135 of 1000
building tree 136 of 1000
building tree 137 of 1000
building tree 138 of 1000
building tree 139 of 1000
building tree 140 of 1000
building tree 141 of 1000
building tree 142 of 1000
building tree 143 of 1000building tree 144 of 1000

building tree 145 of 1000
building tree 146 of 1000
building tree 147 of 1000
building tree 148 of 1000
building tree 149 of 1000
building tree 150 of 1000
building tree 151 of 1000building tree 152 of 1000

building tree 153 of 1000building tree 154 of 1000

building tree 155 of 1000
building tree 156 of 1000
building tree 157 of 1000
building tree 158 of 1000

[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:    1.0s

building tree 159 of 1000
building tree 160 of 1000building tree 161 of 1000
building tree 162 of 1000

building tree 163 of 1000
building tree 164 of 1000
building tree 165 of 1000building tree 166 of 1000

building tree 167 of 1000
building tree 168 of 1000building tree 169 of 1000

building tree 170 of 1000
building tree 171 of 1000
building tree 172 of 1000
building tree 173 of 1000
building tree 174 of 1000
building tree 175 of 1000building tree 176 of 1000

building tree 177 of 1000building tree 178 of 1000

building tree 179 of 1000
building tree 180 of 1000
building tree 181 of 1000
building tree 182 of 1000
building tree 183 of 1000
building tree 184 of 1000
building tree 185 of 1000building tree 186 of 1000building tree 187 of 1000


building tree 188 of 1000
building tree 189 of 1000building tree 190 of 1000

building tree 191 of 1000
building tree 192 of 1000building tree 193 of 1000

building tree 194 of 1000
building tree 195 of 1000
building tree 196 of 1000
building tree 197 of 1000
building tree 198 of 1000building tree 199 of 1000

building tree 200 of 1000building tree 201 of 1000
building tree 202 of 1000

building tree 203 of 1000
building tree 204 of 1000building tree 205 of 1000

building tree 206 of 1000
building tree 207 of 1000
building tree 208 of 1000building tree 209 of 1000
building tree 210 of 1000

building tree 211 of 1000
building tree 212 of 1000building tree 213 of 1000

building tree 214 of 1000
building tree 215 of 1000
building tree 216 of 1000
building tree 217 of 1000
building tree 218 of 1000
building tree 219 of 1000
building tree 220 of 1000
building tree 221 of 1000
building tree 222 of 1000
building tree 223 of 1000
building tree 224 of 1000
building tree 225 of 1000building tree 226 of 1000

building tree 227 of 1000
building tree 228 of 1000
building tree 229 of 1000building tree 230 of 1000building tree 231 of 1000


building tree 232 of 1000
building tree 233 of 1000
building tree 234 of 1000
building tree 235 of 1000
building tree 236 of 1000building tree 237 of 1000

building tree 238 of 1000
building tree 239 of 1000
building tree 240 of 1000building tree 241 of 1000

building tree 242 of 1000
building tree 243 of 1000
building tree 244 of 1000
building tree 245 of 1000building tree 246 of 1000

building tree 247 of 1000
building tree 248 of 1000
building tree 249 of 1000
building tree 250 of 1000
building tree 251 of 1000
building tree 252 of 1000building tree 253 of 1000

building tree 254 of 1000building tree 255 of 1000

building tree 256 of 1000
building tree 257 of 1000
building tree 258 of 1000
building tree 259 of 1000
building tree 260 of 1000building tree 261 of 1000building tree 262 of 1000


building tree 263 of 1000
building tree 264 of 1000
building tree 265 of 1000
building tree 266 of 1000
building tree 267 of 1000
building tree 268 of 1000
building tree 269 of 1000building tree 270 of 1000

building tree 271 of 1000
building tree 272 of 1000building tree 273 of 1000
building tree 274 of 1000
building tree 275 of 1000

building tree 276 of 1000
building tree 277 of 1000
building tree 278 of 1000building tree 279 of 1000

building tree 280 of 1000
building tree 281 of 1000
building tree 282 of 1000
building tree 283 of 1000
building tree 284 of 1000
building tree 285 of 1000
building tree 286 of 1000
building tree 287 of 1000
building tree 288 of 1000building tree 289 of 1000

building tree 290 of 1000
building tree 291 of 1000
building tree 292 of 1000
building tree 293 of 1000
building tree 294 of 1000
building tree 295 of 1000
building tree 296 of 1000
building tree 297 of 1000
building tree 298 of 1000
building tree 299 of 1000
building tree 300 of 1000
building tree 301 of 1000
building tree 302 of 1000building tree 303 of 1000
building tree 304 of 1000
building tree 305 of 1000

building tree 306 of 1000building tree 307 of 1000

building tree 308 of 1000
building tree 309 of 1000building tree 310 of 1000
building tree 311 of 1000

building tree 312 of 1000
building tree 313 of 1000
building tree 314 of 1000
building tree 315 of 1000
building tree 316 of 1000
building tree 317 of 1000
building tree 318 of 1000
building tree 319 of 1000
building tree 320 of 1000
building tree 321 of 1000
building tree 322 of 1000
building tree 323 of 1000
building tree 324 of 1000
building tree 325 of 1000
building tree 326 of 1000
building tree 327 of 1000
building tree 328 of 1000
building tree 329 of 1000
building tree 330 of 1000
building tree 331 of 1000
building tree 332 of 1000
building tree 333 of 1000building tree 334 of 1000

building tree 335 of 1000
building tree 336 of 1000
building tree 337 of 1000
building tree 338 of 1000
building tree 339 of 1000
building tree 340 of 1000
building tree 341 of 1000building tree 342 of 1000
building tree 343 of 1000

building tree 344 of 1000
building tree 345 of 1000
building tree 346 of 1000
building tree 347 of 1000
building tree 348 of 1000building tree 349 of 1000
building tree 350 of 1000
building tree 351 of 1000

building tree 352 of 1000
building tree 353 of 1000
building tree 354 of 1000
building tree 355 of 1000
building tree 356 of 1000
building tree 357 of 1000
building tree 358 of 1000
building tree 359 of 1000building tree 360 of 1000

building tree 361 of 1000building tree 362 of 1000

building tree 363 of 1000
building tree 364 of 1000building tree 365 of 1000

building tree 366 of 1000
building tree 367 of 1000
building tree 368 of 1000building tree 369 of 1000
building tree 370 of 1000

building tree 371 of 1000building tree 372 of 1000
building tree 373 of 1000

building tree 374 of 1000
building tree 375 of 1000
building tree 376 of 1000
building tree 377 of 1000
building tree 378 of 1000
building tree 379 of 1000
building tree 380 of 1000
building tree 381 of 1000building tree 382 of 1000
building tree 383 of 1000

[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:    2.5s

building tree 384 of 1000
building tree 385 of 1000building tree 386 of 1000

building tree 387 of 1000
building tree 388 of 1000
building tree 389 of 1000
building tree 390 of 1000
building tree 391 of 1000
building tree 392 of 1000
building tree 393 of 1000
building tree 394 of 1000
building tree 395 of 1000building tree 396 of 1000

building tree 397 of 1000
building tree 398 of 1000
building tree 399 of 1000
building tree 400 of 1000
building tree 401 of 1000
building tree 402 of 1000
building tree 403 of 1000
building tree 404 of 1000building tree 405 of 1000

building tree 406 of 1000building tree 407 of 1000
building tree 408 of 1000

building tree 409 of 1000
building tree 410 of 1000
building tree 411 of 1000
building tree 412 of 1000building tree 413 of 1000

building tree 414 of 1000
building tree 415 of 1000
building tree 416 of 1000building tree 417 of 1000

building tree 418 of 1000
building tree 419 of 1000
building tree 420 of 1000building tree 421 of 1000

building tree 422 of 1000
building tree 423 of 1000
building tree 424 of 1000building tree 425 of 1000

building tree 426 of 1000
building tree 427 of 1000
building tree 428 of 1000
building tree 429 of 1000
building tree 430 of 1000
building tree 431 of 1000
building tree 432 of 1000building tree 433 of 1000

building tree 434 of 1000
building tree 435 of 1000
building tree 436 of 1000
building tree 437 of 1000
building tree 438 of 1000
building tree 439 of 1000
building tree 440 of 1000
building tree 441 of 1000
building tree 442 of 1000
building tree 443 of 1000
building tree 444 of 1000building tree 445 of 1000

building tree 446 of 1000building tree 447 of 1000

building tree 448 of 1000
building tree 449 of 1000
building tree 450 of 1000
building tree 451 of 1000
building tree 452 of 1000
building tree 453 of 1000
building tree 454 of 1000
building tree 455 of 1000
building tree 456 of 1000
building tree 457 of 1000
building tree 458 of 1000
building tree 459 of 1000
building tree 460 of 1000
building tree 461 of 1000
building tree 462 of 1000
building tree 463 of 1000
building tree 464 of 1000
building tree 465 of 1000building tree 466 of 1000

building tree 467 of 1000building tree 468 of 1000

building tree 469 of 1000building tree 470 of 1000building tree 471 of 1000

building tree 472 of 1000
building tree 473 of 1000building tree 474 of 1000


building tree 475 of 1000
building tree 476 of 1000
building tree 477 of 1000
building tree 478 of 1000
building tree 479 of 1000
building tree 480 of 1000
building tree 481 of 1000building tree 482 of 1000
building tree 483 of 1000

building tree 484 of 1000
building tree 485 of 1000building tree 486 of 1000

building tree 487 of 1000
building tree 488 of 1000
building tree 489 of 1000
building tree 490 of 1000building tree 491 of 1000
building tree 492 of 1000
building tree 493 of 1000

building tree 494 of 1000
building tree 495 of 1000building tree 496 of 1000
building tree 497 of 1000

building tree 498 of 1000
building tree 499 of 1000
building tree 500 of 1000
building tree 501 of 1000
building tree 502 of 1000
building tree 503 of 1000
building tree 504 of 1000
building tree 505 of 1000building tree 506 of 1000

building tree 507 of 1000
building tree 508 of 1000
building tree 509 of 1000
building tree 510 of 1000
building tree 511 of 1000building tree 512 of 1000

building tree 513 of 1000
building tree 514 of 1000
building tree 515 of 1000building tree 516 of 1000building tree 517 of 1000


building tree 518 of 1000
building tree 519 of 1000building tree 520 of 1000

building tree 521 of 1000
building tree 522 of 1000building tree 523 of 1000

building tree 524 of 1000
building tree 525 of 1000
building tree 526 of 1000building tree 527 of 1000

building tree 528 of 1000
building tree 529 of 1000
building tree 530 of 1000
building tree 531 of 1000
building tree 532 of 1000
building tree 533 of 1000
building tree 534 of 1000
building tree 535 of 1000
building tree 536 of 1000
building tree 537 of 1000
building tree 538 of 1000
building tree 539 of 1000building tree 540 of 1000

building tree 541 of 1000building tree 542 of 1000

building tree 543 of 1000
building tree 544 of 1000
building tree 545 of 1000
building tree 546 of 1000
building tree 547 of 1000building tree 548 of 1000building tree 549 of 1000


building tree 550 of 1000
building tree 551 of 1000
building tree 552 of 1000
building tree 553 of 1000building tree 554 of 1000
building tree 555 of 1000

building tree 556 of 1000
building tree 557 of 1000building tree 558 of 1000

building tree 559 of 1000building tree 560 of 1000

building tree 561 of 1000
building tree 562 of 1000
building tree 563 of 1000
building tree 564 of 1000
building tree 565 of 1000building tree 566 of 1000

building tree 567 of 1000
building tree 568 of 1000
building tree 569 of 1000
building tree 570 of 1000building tree 571 of 1000

building tree 572 of 1000building tree 573 of 1000

building tree 574 of 1000
building tree 575 of 1000building tree 576 of 1000

building tree 577 of 1000
building tree 578 of 1000
building tree 579 of 1000
building tree 580 of 1000
building tree 581 of 1000building tree 582 of 1000

building tree 583 of 1000
building tree 584 of 1000
building tree 585 of 1000building tree 586 of 1000building tree 587 of 1000


building tree 588 of 1000
building tree 589 of 1000
building tree 590 of 1000
building tree 591 of 1000
building tree 592 of 1000
building tree 593 of 1000building tree 594 of 1000

building tree 595 of 1000
building tree 596 of 1000
building tree 597 of 1000
building tree 598 of 1000building tree 599 of 1000

building tree 600 of 1000
building tree 601 of 1000building tree 602 of 1000

building tree 603 of 1000building tree 604 of 1000
building tree 605 of 1000

building tree 606 of 1000
building tree 607 of 1000
building tree 608 of 1000building tree 609 of 1000

building tree 610 of 1000
building tree 611 of 1000
building tree 612 of 1000building tree 613 of 1000

building tree 614 of 1000
building tree 615 of 1000
building tree 616 of 1000
building tree 617 of 1000
building tree 618 of 1000
building tree 619 of 1000building tree 620 of 1000

building tree 621 of 1000
building tree 622 of 1000
building tree 623 of 1000
building tree 624 of 1000
building tree 625 of 1000
building tree 626 of 1000
building tree 627 of 1000
building tree 628 of 1000
building tree 629 of 1000
building tree 630 of 1000
building tree 631 of 1000building tree 632 of 1000

building tree 633 of 1000
building tree 634 of 1000
building tree 635 of 1000
building tree 636 of 1000
building tree 637 of 1000building tree 638 of 1000

building tree 639 of 1000building tree 640 of 1000

building tree 641 of 1000
building tree 642 of 1000
building tree 643 of 1000
building tree 644 of 1000
building tree 645 of 1000
building tree 646 of 1000
building tree 647 of 1000building tree 648 of 1000

building tree 649 of 1000building tree 650 of 1000

building tree 651 of 1000
building tree 652 of 1000

[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:    4.5s

building tree 653 of 1000
building tree 654 of 1000
building tree 655 of 1000
building tree 656 of 1000building tree 657 of 1000

building tree 658 of 1000
building tree 659 of 1000
building tree 660 of 1000building tree 661 of 1000
building tree 662 of 1000

building tree 663 of 1000
building tree 664 of 1000
building tree 665 of 1000
building tree 666 of 1000building tree 667 of 1000
building tree 668 of 1000

building tree 669 of 1000building tree 670 of 1000

building tree 671 of 1000building tree 672 of 1000

building tree 673 of 1000
building tree 674 of 1000
building tree 675 of 1000building tree 676 of 1000

building tree 677 of 1000
building tree 678 of 1000
building tree 679 of 1000
building tree 680 of 1000building tree 681 of 1000

building tree 682 of 1000
building tree 683 of 1000
building tree 684 of 1000
building tree 685 of 1000
building tree 686 of 1000building tree 687 of 1000

building tree 688 of 1000
building tree 689 of 1000building tree 690 of 1000

building tree 691 of 1000building tree 692 of 1000

building tree 693 of 1000
building tree 694 of 1000
building tree 695 of 1000building tree 696 of 1000

building tree 697 of 1000
building tree 698 of 1000building tree 699 of 1000
building tree 700 of 1000

building tree 701 of 1000
building tree 702 of 1000
building tree 703 of 1000building tree 704 of 1000

building tree 705 of 1000
building tree 706 of 1000
building tree 707 of 1000
building tree 708 of 1000
building tree 709 of 1000
building tree 710 of 1000building tree 711 of 1000

building tree 712 of 1000building tree 713 of 1000

building tree 714 of 1000building tree 715 of 1000

building tree 716 of 1000building tree 717 of 1000

building tree 718 of 1000
building tree 719 of 1000
building tree 720 of 1000building tree 721 of 1000
building tree 722 of 1000building tree 723 of 1000


building tree 724 of 1000
building tree 725 of 1000
building tree 726 of 1000building tree 727 of 1000

building tree 728 of 1000
building tree 729 of 1000
building tree 730 of 1000building tree 731 of 1000
building tree 732 of 1000

building tree 733 of 1000
building tree 734 of 1000
building tree 735 of 1000
building tree 736 of 1000
building tree 737 of 1000
building tree 738 of 1000
building tree 739 of 1000
building tree 740 of 1000
building tree 741 of 1000
building tree 742 of 1000
building tree 743 of 1000
building tree 744 of 1000
building tree 745 of 1000
building tree 746 of 1000
building tree 747 of 1000building tree 748 of 1000

building tree 749 of 1000
building tree 750 of 1000
building tree 751 of 1000
building tree 752 of 1000
building tree 753 of 1000building tree 754 of 1000

building tree 755 of 1000
building tree 756 of 1000
building tree 757 of 1000
building tree 758 of 1000
building tree 759 of 1000building tree 760 of 1000

building tree 761 of 1000
building tree 762 of 1000
building tree 763 of 1000
building tree 764 of 1000
building tree 765 of 1000
building tree 766 of 1000
building tree 767 of 1000
building tree 768 of 1000building tree 769 of 1000

building tree 770 of 1000
building tree 771 of 1000
building tree 772 of 1000
building tree 773 of 1000
building tree 774 of 1000
building tree 775 of 1000
building tree 776 of 1000
building tree 777 of 1000
building tree 778 of 1000building tree 779 of 1000

building tree 780 of 1000
building tree 781 of 1000
building tree 782 of 1000
building tree 783 of 1000
building tree 784 of 1000
building tree 785 of 1000
building tree 786 of 1000building tree 787 of 1000

building tree 788 of 1000building tree 789 of 1000
building tree 790 of 1000

building tree 791 of 1000
building tree 792 of 1000
building tree 793 of 1000
building tree 794 of 1000
building tree 795 of 1000
building tree 796 of 1000
building tree 797 of 1000
building tree 798 of 1000
building tree 799 of 1000
building tree 800 of 1000
building tree 801 of 1000
building tree 802 of 1000
building tree 803 of 1000
building tree 804 of 1000
building tree 805 of 1000
building tree 806 of 1000
building tree 807 of 1000
building tree 808 of 1000
building tree 809 of 1000
building tree 810 of 1000
building tree 811 of 1000
building tree 812 of 1000building tree 813 of 1000building tree 814 of 1000


building tree 815 of 1000
building tree 816 of 1000building tree 817 of 1000building tree 818 of 1000building tree 819 of 1000


building tree 820 of 1000
building tree 821 of 1000building tree 822 of 1000


building tree 823 of 1000
building tree 824 of 1000
building tree 825 of 1000
building tree 826 of 1000
building tree 827 of 1000building tree 828 of 1000
building tree 829 of 1000
building tree 830 of 1000
building tree 831 of 1000

building tree 832 of 1000
building tree 833 of 1000building tree 834 of 1000building tree 835 of 1000


building tree 836 of 1000
building tree 837 of 1000building tree 838 of 1000
building tree 839 of 1000

building tree 840 of 1000building tree 841 of 1000

building tree 842 of 1000
building tree 843 of 1000
building tree 844 of 1000
building tree 845 of 1000
building tree 846 of 1000
building tree 847 of 1000building tree 848 of 1000

building tree 849 of 1000
building tree 850 of 1000
building tree 851 of 1000
building tree 852 of 1000
building tree 853 of 1000building tree 854 of 1000

building tree 855 of 1000building tree 856 of 1000

building tree 857 of 1000building tree 858 of 1000

building tree 859 of 1000
building tree 860 of 1000building tree 861 of 1000

building tree 862 of 1000
building tree 863 of 1000
building tree 864 of 1000
building tree 865 of 1000
building tree 866 of 1000
building tree 867 of 1000
building tree 868 of 1000
building tree 869 of 1000
building tree 870 of 1000
building tree 871 of 1000
building tree 872 of 1000building tree 873 of 1000

building tree 874 of 1000
building tree 875 of 1000
building tree 876 of 1000
building tree 877 of 1000
building tree 878 of 1000
building tree 879 of 1000
building tree 880 of 1000
building tree 881 of 1000
building tree 882 of 1000
building tree 883 of 1000
building tree 884 of 1000
building tree 885 of 1000building tree 886 of 1000
building tree 887 of 1000

building tree 888 of 1000building tree 889 of 1000

building tree 890 of 1000
building tree 891 of 1000
building tree 892 of 1000
building tree 893 of 1000building tree 894 of 1000
building tree 895 of 1000

building tree 896 of 1000
building tree 897 of 1000building tree 898 of 1000building tree 899 of 1000


building tree 900 of 1000building tree 901 of 1000building tree 902 of 1000

building tree 903 of 1000

building tree 904 of 1000building tree 905 of 1000
building tree 906 of 1000building tree 907 of 1000


building tree 908 of 1000building tree 909 of 1000

building tree 910 of 1000
building tree 911 of 1000
building tree 912 of 1000
building tree 913 of 1000building tree 914 of 1000

building tree 915 of 1000building tree 916 of 1000

building tree 917 of 1000building tree 918 of 1000

building tree 919 of 1000
building tree 920 of 1000building tree 921 of 1000

building tree 922 of 1000
building tree 923 of 1000
building tree 924 of 1000building tree 925 of 1000

building tree 926 of 1000
building tree 927 of 1000
building tree 928 of 1000
building tree 929 of 1000
building tree 930 of 1000building tree 931 of 1000
building tree 932 of 1000

building tree 933 of 1000
building tree 934 of 1000building tree 935 of 1000
building tree 936 of 1000

building tree 937 of 1000
building tree 938 of 1000
building tree 939 of 1000
building tree 940 of 1000
building tree 941 of 1000
building tree 942 of 1000
building tree 943 of 1000
building tree 944 of 1000
building tree 945 of 1000
building tree 946 of 1000
building tree 947 of 1000
building tree 948 of 1000
building tree 949 of 1000
building tree 950 of 1000
building tree 951 of 1000
building tree 952 of 1000
building tree 953 of 1000
building tree 954 of 1000building tree 955 of 1000
building tree 956 of 1000

building tree 957 of 1000
building tree 958 of 1000building tree 959 of 1000
building tree 960 of 1000

building tree 961 of 1000
building tree 962 of 1000
building tree 963 of 1000building tree 964 of 1000

building tree 965 of 1000
building tree 966 of 1000
building tree 967 of 1000
building tree 968 of 1000
building tree 969 of 1000
building tree 970 of 1000
building tree 971 of 1000

building tree 972 of 1000building tree 973 of 1000
building tree 974 of 1000

building tree 975 of 1000
building tree 976 of 1000
building tree 977 of 1000
building tree 978 of 1000
building tree 979 of 1000
building tree 980 of 1000
building tree 981 of 1000
building tree 982 of 1000
building tree 983 of 1000
building tree 984 of 1000
building tree 985 of 1000
building tree 986 of 1000
building tree 987 of 1000
building tree 988 of 1000
building tree 989 of 1000
building tree 990 of 1000
building tree 991 of 1000
building tree 992 of 1000building tree 993 of 1000
building tree 994 of 1000

building tree 995 of 1000
building tree 996 of 1000
building tree 997 of 1000building tree 998 of 1000

building tree 999 of 1000
building tree 1000 of 1000

[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:    7.3s finished

Pipeline(memory=None,
         steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['STATE'], drop_invariant=False,
                                handle_missing='value', handle_unknown='value',
                                mapping=[{'col': 'STATE',
                                          'data_type': dtype('O'),
                                          'mapping': CALIFORNIA               1
MISSISSIPPI              2
UTAH                     3
HAWAII                   4
MICHIGAN                 5
MASSACHUSETTS            6
WEST_VIRGINIA            7
OKLAHOMA                 8
RHODE_ISLAND             9
VERMONT                 10
NEW_MEXICO              11
ILLINOIS                12
KANSAS                  13
GEORGIA                 14
VIRGINIA...
                 RandomForestClassifier(bootstrap=False, ccp_alpha=0.0,
                                        class_weight='balanced',
                                        criterion='entropy', max_depth=None,
                                        max_features=None, max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=5,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=1000, n_jobs=-1,
                                        oob_score=False, random_state=42,
                                        verbose=2, warm_start=True))],
         verbose=False)

In [60]:
# Val accuracy
print('Train Accuracy', rf2.score(X_train_new, y_train))
print('Validation Accuracy', rf2.score(X_val_new, y_val))

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s

Train Accuracy 0.9819004524886877

[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.2s

Validation Accuracy 0.46

[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.2s finished

In [62]:
print('---------------Random Forest---------------')
print(f'Validation Accuracy Random Forest Model 1 {rf1.score(X_val, y_val)}')
print(f'Validation Accuracy Random Forest Model 2 {rf2.score(X_val_new, y_val)}')
print(f'Difference between model 1 and 2: {(rf2.score(X_val_new, y_val)) -(rf1.score(X_val, y_val)) }')

---------------Random Forest---------------

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.0s

Validation Accuracy Random Forest Model 1 0.4533333333333333

[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.3s finished

Validation Accuracy Random Forest Model 2 0.46

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.4s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed:    0.2s

Difference between model 1 and 2: 0.00666666666666671

[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    0.4s finished