# ***Outline***

This data set is a compilation state expenditure, student demographic, and 4th and 8th grade math and reading scores. This project is trying to create a model that can predict student scores based on these features.

# ***Data***

## ***Upload Data***

In [1]:
import sys
!conda install --yes --prefix {sys.prefix} numpy

Collecting package metadata (current_repodata.json): done
Solving environment: \
Warning: 4 possible package resolutions (only showing differing packages):
  - anaconda/osx-64::ca-certificates-2020.1.1-0, anaconda/osx-64::openssl-1.1.1d-h1de35cc_4
  - anaconda/osx-64::ca-certificates-2020.1.1-0, defaults/osx-64::openssl-1.1.1d-h1de35cc_4
  - anaconda/osx-64::openssl-1.1.1d-h1de35cc_4, defaults/osx-64::ca-certificates-2020.1.1-0
  - defaults/osx-64::ca-certificates-2020.1.1-0, defaults/osx-64::openssl-1.1.1d-h1de35ccdone

# All requested packages already installed.

In [2]:
import os

In [3]:
import pandas as pd

In [4]:
DATA_PATH = '/Users/jisha/Unit 240_Build_Week/data/'
states = pd.read_csv(DATA_PATH + 'states_all_extended.csv')
finances = pd.read_csv(DATA_PATH + 'finance_states.csv')

In [5]:
states.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_TRF,GRADES_8_TRF,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,NaN,NaN,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,NaN,NaN,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,208.398961,260.892247,196.764414,NaN

In [6]:
finances.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885,304177,1659028,715680,2653798,1481703,735036,NaN,174053
1,1992_ALASKA,ALASKA,1992,NaN,1049591,106780,720711,222100,972488,498362,350902,NaN,37451
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079,297888,1369815,1590376,3401580,1435908,1007732,NaN,609114
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959,178571,958785,574603,1743022,964323,483488,NaN,145212
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025,2072470,16546514,7641041,27138832,14358922,8520926,NaN,2044688

In [7]:
states.shape, finances.shape

((1492, 193), (1326, 13))

## ***Update Data***

### ***Merging Tail***

* merging the tail of both dataframes before concating

In [8]:
state_tail = pd.DataFrame(states.tail(51))
finance_tail = pd.DataFrame(finances.tail(51)) #I just need the last 51 rows

In [9]:
state_tail.shape, finance_tail.shape

((51, 193), (51, 13))

In [10]:
columns = ['ENROLL','TOTAL_REVENUE','FEDERAL_REVENUE',
           'STATE_REVENUE','LOCAL_REVENUE','TOTAL_EXPENDITURE',
           'INSTRUCTION_EXPENDITURE','SUPPORT_SERVICES_EXPENDITURE',
           'OTHER_EXPENDITURE','CAPITAL_OUTLAY_EXPENDITURE']
state_tail = state_tail.drop(columns=columns) #Dropping unnecessary columns from state_tail, so I do not have to do this later

In [11]:
merge = pd.merge(finance_tail, state_tail, on=['PRIMARY_KEY','STATE', 'YEAR'])

In [12]:
merge.shape

(51, 193)

In [13]:
merge.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_TRF,GRADES_8_TRF,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,2017_ALABAMA,ALABAMA,2017,744930.0,7911674,811407,4350594,2749673,8031412,4046379,...,NaN,NaN,NaN,NaN,NaN,NaN,232.170688,268.312020,216.419814,257.686520
1,2017_ALASKA,ALASKA,2017,132737.0,2504501,350204,1600503,553794,2587060,1266077,...,NaN,NaN,NaN,NaN,NaN,NaN,230.456278,277.015572,207.037630,257.667497
2,2017_ARIZONA,ARIZONA,2017,936147.0,8677631,1178196,3446191,4053244,8389808,4081153,...,NaN,NaN,NaN,NaN,NaN,NaN,234.435788,282.248145,215.465952,262.957457
3,2017_ARKANSAS,ARKANSAS,2017,478996.0,5481422,597260,4137903,746259,5479899,2691959,...,NaN,NaN,NaN,NaN,NaN,NaN,233.848144,273.759907,216.108026,259.955798
4,2017_CALIFORNIA,CALIFORNIA,2017,6195344.0,91803968,7889546,51046506,32867916,90161939,44748095,...,NaN,NaN,NaN,NaN,NaN,NaN,232.262941,276.638200,215.421814,262.520630

### ***Concatenating Data***

In [14]:
head = states.head(1441)

In [15]:
df = head.append(merge)

# ***Choose your evaluation metric(s)***

In [16]:
target_df = df[['PRIMARY_KEY','STATE','AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE' ]].copy()
target_df.head()

,PRIMARY_KEY,STATE,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,208.398961,260.892247,196.764414,NaN

Using 8th grade reading. Creating a classification class by grouping the scores into different categories. I think this will give more information then the numeric values.

Noticings: Unfortunately, the state scores are not very good for any of the states for any of the years. Most states, across both Math and Reading, have underperformed; only a small percentage scored proficient.

## 8th Grade Reading

### ***Data Cleaning***

In [17]:
#This code finds the mean by states and then fills in NaN values with that mean
target_df['AVG_READING_8_SCORE'] = target_df.groupby('STATE')['AVG_READING_8_SCORE'].transform(lambda x: x.fillna(x.mean()))

In [18]:
target_df['AVG_READING_8_SCORE'].isnull().sum()

161

In [19]:
target_df['AVG_READING_8_SCORE'] = target_df['AVG_READING_8_SCORE'].fillna(0)
target_df['AVG_READING_8_SCORE'] = target_df['AVG_READING_8_SCORE'].astype(int)
target_df['AVG_READING_8_SCORE']

0     264
1     258
2     262
3     264
4     261
     ...
46    273
47    267
48    271
49    258
50    269
Name: AVG_READING_8_SCORE, Length: 1492, dtype: int64

In [20]:
target_df['AVG_READING_8_SCORE'].value_counts()

264    218
263    191
265    163
0      161
262    134
261    117
266    105
260     70
267     47
259     35
268     34
269     32
270     21
257     19
258     18
272     14
251     13
255     12
253     11
254     10
273      9
271      9
256      8
274      7
252      7
250      6
277      3
275      3
276      2
247      2
238      2
242      2
239      1
236      1
249      1
240      1
246      1
248      1
280      1
Name: AVG_READING_8_SCORE, dtype: int64

In [21]:
min(target_df['AVG_READING_8_SCORE']), max(target_df['AVG_READING_8_SCORE'])

(0, 280)

NAEP Reading Score Breakdown
- basic (0-280)
> This column was broken down into 3 categories: 
> - low, 
> - mid, and 
> - high basic
- proficient (281-322)
- advanced (323-500)

In [22]:
def proficiency(row):
  #separating basic into 3 groups (0-281)
    if 0< row['AVG_READING_8_SCORE'] < 240:
        val = '1'
    elif 240 <= row['AVG_READING_8_SCORE'] < 265:
        val = '2'
    elif 265 <= row['AVG_READING_8_SCORE'] < 281:
        val = '3'
    elif 281 <= row['AVG_READING_8_SCORE'] < 323:
        val = '4'
    elif row['AVG_READING_8_SCORE'] >= 323:
        val = '5'
    else:
        val = 0
    return val

target_df['READING_PROF_8'] = target_df.apply(proficiency, axis=1)
target_df['READING_PROF_8'].astype('int')

0     2
1     2
2     2
3     2
4     2
     ..
46    3
47    3
48    3
49    2
50    3
Name: READING_PROF_8, Length: 1492, dtype: int64

In [23]:
target_df['READING_PROF_8'].value_counts(normalize=True)

2    0.587802
3    0.301609
0    0.107909
1    0.002681
Name: READING_PROF_8, dtype: float64

## 8th Grade Math

### ***Data Cleaning***

In [24]:
#This code finds the mean by states and then fills in NaN values with that mean
target_df['AVG_MATH_8_SCORE'] = target_df.groupby('STATE')['AVG_MATH_8_SCORE'].transform(lambda x: x.fillna(x.mean()))

In [25]:
target_df['AVG_MATH_8_SCORE'].isnull().sum()

161

In [26]:
target_df['AVG_MATH_8_SCORE'] = target_df['AVG_MATH_8_SCORE'].fillna(0)
target_df['AVG_MATH_8_SCORE'] = target_df['AVG_MATH_8_SCORE'].astype(int)
target_df['AVG_MATH_8_SCORE']

0     252
1     280
2     265
3     256
4     260
     ...
46    290
47    289
48    273
49    288
50    288
Name: AVG_MATH_8_SCORE, Length: 1492, dtype: int64

In [27]:
target_df['AVG_MATH_8_SCORE'].value_counts()

0      161
283    115
282    101
280     72
287     68
273     60
277     57
288     55
285     54
284     54
279     49
275     47
286     47
274     46
278     46
270     45
281     44
269     40
271     28
289     27
272     25
262     25
290     24
266     24
265     23
291     23
263     21
250     18
276     13
268     11
267      7
292      6
294      6
259      5
260      5
264      4
261      4
293      4
258      3
256      2
234      2
252      2
297      2
253      2
295      2
298      2
296      2
254      1
257      1
249      1
248      1
246      1
245      1
243      1
232      1
300      1
Name: AVG_MATH_8_SCORE, dtype: int64

In [28]:
min(target_df['AVG_MATH_8_SCORE']), max(target_df['AVG_MATH_8_SCORE'])

(0, 300)

NAEP Math Score Breakdown
- basic (0-298)
> This column was broken down into 3 categories:
> -  low, 
> - mid, and 
> - high basic
- proficient (298-332)
- advanced (333-500)

In [29]:
def proficiency(row):
    if 0 < row['AVG_MATH_8_SCORE'] < 270:
        val = '1'
    elif 270 <= row['AVG_MATH_8_SCORE'] < 280:
        val = '2 '
    elif 280 <= row['AVG_MATH_8_SCORE'] < 299:
        val = '3'    
    elif 299 <= row['AVG_MATH_8_SCORE'] < 333:
        val = '4'
    elif row['AVG_MATH_8_SCORE'] >= 333:
        val = '5'
    else:
        val = 0
    return val

target_df['MATH_PROF_8'] = target_df.apply(proficiency, axis=1)
target_df['MATH_PROF_8'].astype('int')

0     1
1     3
2     1
3     1
4     1
     ..
46    3
47    3
48    2
49    3
50    3
Name: MATH_PROF_8, Length: 1492, dtype: int64

In [30]:
target_df['MATH_PROF_8'].value_counts(normalize=True)

3     0.474531
2     0.278820
1     0.138070
0     0.107909
4     0.000670
Name: MATH_PROF_8, dtype: float64

# ***Target***

Adding the two new engineered features back into the dataframe

In [31]:
df = df.drop(columns = ['AVG_READING_8_SCORE', 'AVG_MATH_8_SCORE'])

In [32]:
df[['AVG_READING_8_SCORE', 'AVG_MATH_8_SCORE','READING_PROF_8', 'MATH_PROF_8']] = target_df[['AVG_READING_8_SCORE', 'AVG_MATH_8_SCORE','READING_PROF_8','MATH_PROF_8' ]].copy()
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,AVG_MATH_8_SCORE,READING_PROF_8,MATH_PROF_8
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,NaN,NaN,NaN,NaN,208.327876,207.963517,264,252,2,1
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,NaN,NaN,NaN,NaN,NaN,NaN,258,280,2,3
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,NaN,NaN,NaN,NaN,215.253932,206.212716,262,265,2,1
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,NaN,NaN,NaN,NaN,210.206028,208.634458,264,256,2,1
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,NaN,NaN,NaN,NaN,208.398961,196.764414,261,260,2,1

In [33]:
df['READING_PROF_8'] = df['READING_PROF_8'].astype(int)
df['MATH_PROF_8'] = df['MATH_PROF_8'].astype(int)

In [34]:
df.dtypes

PRIMARY_KEY             object
STATE                   object
YEAR                     int64
ENROLL                 float64
TOTAL_REVENUE          float64
                        ...
AVG_READING_4_SCORE    float64
AVG_READING_8_SCORE      int64
AVG_MATH_8_SCORE         int64
READING_PROF_8           int64
MATH_PROF_8              int64
Length: 195, dtype: object

# ***Train/Val/Test***

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
train = df[df['YEAR'] <= 2013]
test = df[df['YEAR'] > 2013]
train.shape, test.shape

((1277, 195), (215, 195))

In [37]:
train, val = train_test_split(
    train, train_size=0.60, test_size=0.40,
    stratify=train['READING_PROF_8'], 
    random_state=42
)

train.shape, val.shape, test.shape

((766, 195), (511, 195), (215, 195))

### ***Cleaning Data***

TO DO:
- There are several columns that do not have any data. 

**DROP**
- primary key (this is just a combination of state and year
- Since this model is trying to predict scores for each state, I will be dropping the years that do not have any recorded scores. 
- This data contains information for all 50 states, including Washington D.C, as well as US territories. Unfortunately, there is not information about expenditure for those columns, so that information will be dropped as well. 
- I will create a new dataframe which has the breakdown of demographics and then delete those columns from this dataframe. The demographics info was not captured until 2009, that will be too many np.nan values to use to build a useful model.

In [38]:
train.columns

Index(['PRIMARY_KEY', 'STATE', 'YEAR', 'ENROLL', 'TOTAL_REVENUE',
       'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE',
       'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE',
       ...
       'GRADES_12_TRF', 'GRADES_1_8_TRF', 'GRADES_9_12_TRF', 'GRADES_ALL_TRF',
       'AVG_MATH_4_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE',
       'AVG_MATH_8_SCORE', 'READING_PROF_8', 'MATH_PROF_8'],
      dtype='object', length=195)

### ***Feature Engineering***

- For this dataset, I would delete the years where the NAEP test scores are not available since that does not give anything for me to train/validate/test the data on. The data is from 1992 - 2017. The NAEP only gives information for the years 1992, 1996, 2000, 2003, 2005, 2007, 2009, 2011, 2013, 2015, 2017. âœ“
- I will also delete the years where I do not have the finacial information available âœ“
- I am using information from the consumer price index to create new columns that adjust revenue and expenditures to reflect inflation âœ“
https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/
 * https://www.usinflationcalculator.com/frequently-asked-questions-faqs/#HowInflationCalculatorWorks
- look at %of total revenue spent on educationâœ“
- look at % of total expenditure spent on instruction, support other, and capital outlayâœ“

#### State Averages
* replacing nulls with state averages

In [39]:
train.groupby('STATE').mean()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_12_TRF,GRADES_1_8_TRF,GRADES_9_12_TRF,GRADES_ALL_TRF,AVG_MATH_4_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,AVG_MATH_8_SCORE,READING_PROF_8,MATH_PROF_8
STATE,,,,,,,,,,,,,,,,,,,,,
ALABAMA,2002.900000,733965.900000,5.500469e+06,568936.200000,3.194067e+06,1.737466e+06,5.624908e+06,2.914756e+06,1.620027e+06,451126.900000,...,NaN,NaN,NaN,NaN,225.645299,210.408278,264.700000,263.000000,2.200000,1.000000
ALASKA,2004.333333,130848.733333,1.691878e+06,265068.933333,1.021510e+06,4.052985e+05,1.819245e+06,8.951511e+05,6.266891e+05,58791.533333,...,263.20,3073.800000,1166.2,4334.200000,234.186236,210.913963,263.800000,280.200000,2.333333,2.800000
AMERICAN_SAMOA,2002.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
ARIZONA,2003.176471,875459.062500,6.549546e+06,783975.470588,2.760691e+06,3.004879e+06,6.605608e+06,3.032112e+06,2.051728e+06,323763.562500,...,480.75,5919.250000,2277.0,8251.250000,227.348464,208.783949,263.176471,274.176471,2.176471,1.882353
ARKANSAS,2002.000000,437997.083333,3.259555e+06,371155.769231,2.305379e+06,5.830208e+05,3.387348e+06,1.724709e+06,1.005450e+06,254008.833333,...,188.00,2359.000000,879.5,3341.750000,226.369523,213.676209,264.538462,268.692308,2.307692,1.769231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VIRGIN_ISLANDS,2003.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.00,33.000000,44.5,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
WASHINGTON,2001.866667,995417.000000,8.413861e+06,657610.466667,5.289223e+06,2.467028e+06,8.648341e+06,4.227706e+06,2.509973e+06,377268.466667,...,1753.00,17804.000000,7526.5,25543.500000,240.417536,222.917322,264.933333,284.666667,2.933333,3.000000
WEST_VIRGINIA,2002.666667,293047.888889,2.608390e+06,262479.777778,1.534276e+06,8.116347e+05,2.557555e+06,1.413668e+06,7.827014e+05,167582.555556,...,55.50,1566.500000,278.0,2077.000000,229.120583,216.162878,265.888889,269.111111,2.888889,1.222222
WISCONSIN,2003.916667,864421.000000,9.007533e+06,611281.333333,4.348686e+06,4.047566e+06,9.001521e+06,4.814670e+06,2.765744e+06,359151.333333,...,446.00,5275.333333,1967.0,8002.666667,243.260335,221.358970,263.000000,285.416667,2.166667,3.000000
WYOMING,2003.400000,90548.500000,1.110215e+06,87845.400000,5.625480e+05,4.598213e+05,1.080726e+06,5.424888e+05,3.357150e+05,33150.300000,...,38.00,405.000000,183.0,594.000000,232.140852,220.542973,261.600000,282.100000,2.000000,2.900000

#### Adjustment for Inflation
I am using information from the consumer price index to create new columns that adjust expenditures to reflect inflation âœ“
* https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/
* https://www.usinflationcalculator.com/frequently-asked-questions-faqs/#HowInflationCalculatorWorks

In [40]:
import numpy as np

In [41]:
cpi = {1992: 140.3,
       1993: 144.5,
       1994: 148.2,
       1995: 152.4,
       1996: 156.9,
       1997: 160.5,
       1998: 163.0,
       1999: 166.6,
       2000: 172.2,
       2001: 177.1,
       2002: 179.9,
       2003: 184.0,
       2004: 188.9,
       2005: 195.3,
       2006: 201.6,
       2007: 207.3,
       2008: 215.303,
       2009: 214.537,
       2010: 218.056,
       2011: 224.939,
       2012: 229.594,
       2013: 232.957,
       2014: 236.736,
       2015: 237.017,
       2016: 240.007,
       2017: 245.120,
       2018: 251.107,
       2019: 255.657}

In [42]:
baseline_year = 2019
baseline_inflation = cpi[baseline_year]
print(baseline_inflation)

255.657

In [43]:
def inflation_adjustment(row, baseline_inflation, src):
    return row[src] * (baseline_inflation/ cpi[row['YEAR']])

### ***Wrangle***

In [44]:
import numpy as np

In [45]:
def wrangle(X):
    # Prevent SettingWithCopyWarning
    X = X.copy()

    X = X.replace (0, np.NaN)

    # When columns have zeros and shouldn't, they are like null values.
    # So we will replace the zeros with nulls, and impute missing values later.
    cols_with_zeros = ['AVG_MATH_8_SCORE','AVG_READING_8_SCORE']
    for col in cols_with_zeros:
        X[col] = X[col].replace(0, np.nan)

    #Dropping rows if they do not contain any score data, will not drop if there is just 1 value
    X = X.dropna(axis=0, subset=['AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE'], how = 'any')

    #Dropping rows that do not contain any financial information
    X = X.dropna(axis=0, subset = ['TOTAL_REVENUE','FEDERAL_REVENUE','STATE_REVENUE','LOCAL_REVENUE','TOTAL_EXPENDITURE'], how = 'all')

    #Dropping columns
    #Primary Key is just State and Year
    #Dropping breakdown of demographics into male/female because this does not start to get recorded until 2009
    drop = ['PRIMARY_KEY',
            'GRADES_PK_HP','GRADES_KG_HP','GRADES_4_HP','GRADES_8_HP','GRADES_12_HP', 'GRADES_1_8_HP', 'GRADES_9_12_HP', 'GRADES_ALL_HP',
            'GRADES_PK_TR','GRADES_KG_TR','GRADES_4_TR','GRADES_8_TR','GRADES_12_TR', 'GRADES_1_8_TR', 'GRADES_9_12_TR', 'GRADES_ALL_TR',
            'GRADES_PK_AMM','GRADES_KG_AMM','GRADES_4_AMM','GRADES_8_AMM','GRADES_12_AMM', 'GRADES_1_8_AMM', 'GRADES_9_12_AMM', 'GRADES_ALL_AMM',
            'GRADES_PK_AMF','GRADES_KG_AMF','GRADES_4_AMF','GRADES_8_AMF','GRADES_12_AMF', 'GRADES_1_8_AMF', 'GRADES_9_12_AMF', 'GRADES_ALL_AMF',
            'GRADES_PK_ASM','GRADES_KG_ASM','GRADES_4_ASM','GRADES_8_ASM','GRADES_12_ASM', 'GRADES_1_8_ASM', 'GRADES_9_12_ASM', 'GRADES_ALL_ASM',
            'GRADES_PK_ASF','GRADES_KG_ASF','GRADES_4_ASF','GRADES_8_ASF','GRADES_12_ASF', 'GRADES_1_8_ASF', 'GRADES_9_12_ASF', 'GRADES_ALL_ASF',
            'GRADES_PK_HIM','GRADES_KG_HIM','GRADES_4_HIM','GRADES_8_HIM','GRADES_12_HIM', 'GRADES_1_8_HIM', 'GRADES_9_12_HIM', 'GRADES_ALL_HIM',
            'GRADES_PK_HIF','GRADES_KG_HIF','GRADES_4_HIF','GRADES_8_HIF','GRADES_12_HIF', 'GRADES_1_8_HIF', 'GRADES_9_12_HIF', 'GRADES_ALL_HIF',
            'GRADES_PK_BLM','GRADES_KG_BLM','GRADES_4_BLM','GRADES_8_BLM','GRADES_12_BLM', 'GRADES_1_8_BLM', 'GRADES_9_12_BLM', 'GRADES_ALL_BLM',
            'GRADES_PK_BLF','GRADES_KG_BLF','GRADES_4_BLF','GRADES_8_BLF','GRADES_12_BLF', 'GRADES_1_8_BLF', 'GRADES_9_12_BLF', 'GRADES_ALL_BLF',
            'GRADES_PK_WHM','GRADES_KG_WHM','GRADES_4_WHM','GRADES_8_WHM','GRADES_12_WHM', 'GRADES_1_8_WHM', 'GRADES_9_12_WHM', 'GRADES_ALL_WHM',
            'GRADES_PK_WHF','GRADES_KG_WHF','GRADES_4_WHF','GRADES_8_WHF','GRADES_12_WHF', 'GRADES_1_8_WHF', 'GRADES_9_12_WHF', 'GRADES_ALL_WHF',
            'GRADES_PK_HPM','GRADES_KG_HPM','GRADES_4_HPM','GRADES_8_HPM','GRADES_12_HPM', 'GRADES_1_8_HPM', 'GRADES_9_12_HPM', 'GRADES_ALL_HPM',
            'GRADES_PK_HPF','GRADES_KG_HPF','GRADES_4_HPF','GRADES_8_HPF','GRADES_12_HPF', 'GRADES_1_8_HPF', 'GRADES_9_12_HPF', 'GRADES_ALL_HPF',
            'GRADES_PK_TRM','GRADES_KG_TRM','GRADES_4_TRM','GRADES_8_TRM','GRADES_12_TRM', 'GRADES_1_8_TRM', 'GRADES_9_12_TRM', 'GRADES_ALL_TRM',
            'GRADES_PK_TRF','GRADES_KG_TRF','GRADES_4_TRF','GRADES_8_TRF','GRADES_12_TRF', 'GRADES_1_8_TRF', 'GRADES_9_12_TRF', 'GRADES_ALL_TRF']
    X = X.drop(columns=drop)

    #Filling missing scores with state average
    X['AVG_READING_8_SCORE'] = X.groupby('STATE')['AVG_READING_8_SCORE'].transform(lambda x: x.fillna(x.mean()))
    X['AVG_MATH_8_SCORE'] = X.groupby('STATE')['AVG_MATH_8_SCORE'].transform(lambda x: x.fillna(x.mean()))
    X['AVG_READING_4_SCORE'] = X.groupby('STATE')['AVG_READING_4_SCORE'].transform(lambda x: x.fillna(x.mean()))
    X['AVG_MATH_4_SCORE'] = X.groupby('STATE')['AVG_MATH_4_SCORE'].transform(lambda x: x.fillna(x.mean()))

    #Adjusting revenue and expenditures to reflect inflation
    #Revenue
    X['ADJUSTED_TOTAL_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'TOTAL_REVENUE'),axis=1)
    X['ADJUSTED_FEDERAL_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'FEDERAL_REVENUE'),axis=1)
    X['ADJUSTED_STATE_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'STATE_REVENUE'),axis=1)
    X['ADJUSTED_LOCAL_REVENUE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'LOCAL_REVENUE'),axis=1)

    #Expenditures
    X['ADJUSTED_TOTAL_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'TOTAL_EXPENDITURE'),axis=1)
    X['ADJUSTED_INSTRUCTION_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'INSTRUCTION_EXPENDITURE'),axis=1)
    X['ADJUSTED_SUPPORT_SERVICES_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'SUPPORT_SERVICES_EXPENDITURE'),axis=1)
    X['ADJUSTED_OTHER_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'OTHER_EXPENDITURE'),axis=1)
    X['ADJUSTED_CAPITAL_OUTLAY_EXPENDITURE'] = X.apply(lambda row: inflation_adjustment(row,baseline_inflation, 'CAPITAL_OUTLAY_EXPENDITURE'),axis=1)
    
    #Calculating Percentages
    #%of total revenue spent on education
    X['%TOTAL_REVENUE'] = X['TOTAL_EXPENDITURE']/X['TOTAL_REVENUE']

    #% of total expenditure spent on instruction
    X['%TOTAL_EXPENDITURE_INSTRUCTION'] = X['INSTRUCTION_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    X['%TOTAL_EXPENDITURE_SUPPORT_SERVICES'] = X['SUPPORT_SERVICES_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    X['%TOTAL_EXPENDITURE_OTHER'] = X['OTHER_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    X['%TOTAL_EXPENDITURE_CAPITAL_OUTLAY'] = X['CAPITAL_OUTLAY_EXPENDITURE']/X['TOTAL_EXPENDITURE']
    
    #Cost per student
    X['COST_PER_STUDENT'] = X['TOTAL_EXPENDITURE']/X['ENROLL']
    
    #Change year column to year
    X['YEAR'] = pd.to_datetime(X['YEAR'], infer_datetime_format = True)
    X['YEAR'] = X['YEAR'].dt.year
    
    #Return the wrangled dataframe
    return X

In [46]:
train = wrangle(train)
val = wrangle(val)
test = wrangle(test) 

train.shape, val.shape, test.shape

((251, 81), (171, 81), (102, 81))

In [47]:
train.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,ADJUSTED_INSTRUCTION_EXPENDITURE,ADJUSTED_SUPPORT_SERVICES_EXPENDITURE,ADJUSTED_OTHER_EXPENDITURE,ADJUSTED_CAPITAL_OUTLAY_EXPENDITURE,%TOTAL_REVENUE,%TOTAL_EXPENDITURE_INSTRUCTION,%TOTAL_EXPENDITURE_SUPPORT_SERVICES,%TOTAL_EXPENDITURE_OTHER,%TOTAL_EXPENDITURE_CAPITAL_OUTLAY,COST_PER_STUDENT
920,WISCONSIN,1970,867035.0,10991081.0,1258519.0,4785070.0,4947492.0,10880480.0,5857285.0,3382519.0,...,6.979942e+06,4.030842e+06,5.640108e+05,7.731629e+05,0.989937,0.538330,0.310880,0.043499,0.059630,12.549067
591,NEW_JERSEY,1970,1350330.0,19785039.0,797717.0,8135014.0,10852308.0,19812932.0,10169992.0,6429003.0,...,1.413060e+07,8.932715e+06,9.410234e+05,2.259859e+06,1.001410,0.513301,0.324485,0.034183,0.082090,14.672659
1013,RHODE_ISLAND,1970,139157.0,2212352.0,234111.0,768713.0,1209528.0,2198940.0,1260021.0,736651.0,...,1.432091e+06,8.372491e+05,1.066322e+05,4.969729e+04,0.993938,0.573013,0.335003,0.042666,0.019885,15.801864
596,OHIO,1970,1803966.0,18018740.0,1097349.0,7844992.0,9076399.0,18760200.0,8958790.0,6097596.0,...,1.244770e+07,8.472245e+06,1.112844e+06,3.229254e+06,1.041149,0.477542,0.325028,0.042693,0.123887,10.399420
1104,NEVADA,1970,431776.0,4131800.0,392009.0,2556472.0,1183319.0,4057443.0,2058538.0,1396907.0,...,2.259128e+06,1.533026e+06,1.830688e+05,2.438090e+05,0.982004,0.507349,0.344283,0.041113,0.054754,9.397102

In [48]:
train.STATE.nunique(), val.STATE.nunique(), test.STATE.nunique()

(51, 50, 51)

### ***Baseline***

In [49]:
train['READING_PROF_8'].value_counts(normalize=True)

2.0    0.505976
3.0    0.486056
1.0    0.007968
Name: READING_PROF_8, dtype: float64

My baseline is ~50% for my majority class 2

# ***Fit a Model***

In [50]:
# Arrange data into X features matrix and y target vector

target = 'READING_PROF_8'
X_train = train.drop(columns=[target,'AVG_READING_8_SCORE'])
y_train = train[target]
X_val = val.drop(columns=[target,'AVG_READING_8_SCORE'])
y_val = val[target]
X_test = test.drop(columns=[target,'AVG_READING_8_SCORE'])
y_test = test[target]

## ***XGBOOST***

In [51]:
%matplotlib inline
import category_encoders as ce

from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline

In [52]:
from xgboost import XGBClassifier

In [53]:
#XGBoost Classifier
xg1 = make_pipeline(
    ce.OneHotEncoder(use_cat_names = True, cols = ['STATE']),
    ce.OrdinalEncoder(),
    SimpleImputer(),
    XGBClassifier(seed = 42),
)

In [54]:
from scipy.stats import randint, uniform

#Hyperparameter optimization with RandomSearchCV

param_distributions = {
    'simpleimputer__strategy': ['mean', 'median'],
    'xgbclassifier__learning_rate': [0.05, 0.10, 0.15, 0.20, 0.25, 0.30],
    'xgbclassifier__n_estimators': randint(50, 500),
    'xgbclassifier__max_depth': [5, 10, 15, 20], 
    'xgbclassifier__gamma':[0.0, 0.1, 0.2 , 0.3, 0.4],
    'xgbclassifier__min_child_weight':[1, 3, 5, 7],
    'xgbclassifier__colsample_bytree':[0.3, 0.4, 0.5 , 0.7]
}

In [55]:
%%time
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

search = RandomizedSearchCV(
    xg1,
    param_distributions = param_distributions,
    n_iter = 1000,
    cv = 5,
    scoring = 'accuracy',
    verbose = 10,
    return_train_score = True,
    n_jobs = -1
)

search.fit(X_train, y_train);

Fitting 5 folds for each of 1000 candidates, totalling 5000 fits

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:   11.2s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   28.7s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   39.6s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   47.2s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   56.3s
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 105 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 137 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 173 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  3.8min
[Parallel(n_jobs=-1)]: Done 213 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 234 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 257 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  5.7min
[Parallel(n_jobs=-1)]: Done 305 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 330 tasks      | elapsed:  6.9min
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 384 tasks      | elapsed:  7.8min
[Parallel(n_jobs=-1)]: Done 413 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 473 tasks      | elapsed: 11.2min
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed: 12.5min
[Parallel(n_jobs=-1)]: Done 537 tasks      | elapsed: 13.8min
[Parallel(n_jobs=-1)]: Done 570 tasks      | elapsed: 14.7min
[Parallel(n_jobs=-1)]: Done 605 tasks      | elapsed: 15.8min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed: 16.9min
[Parallel(n_jobs=-1)]: Done 677 tasks      | elapsed: 18.0min
[Parallel(n_jobs=-1)]: Done 714 tasks      | elapsed: 19.0min
[Parallel(n_jobs=-1)]: Done 753 tasks      | elapsed: 20.0min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed: 21.3min
[Parallel(n_jobs=-1)]: Done 833 tasks      | elapsed: 22.2min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed: 23.8min
[Parallel(n_jobs=-1)]: Done 917 tasks      | elapsed: 24.6min
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed: 25.5min
[Parallel(n_jobs=-1)]: Done 1005 tasks      | elapsed: 26.3min
[Parallel(n_jobs=-1)]: Done 1050 tasks      | elapsed: 27.1min
[Parallel(n_jobs=-1)]: Done 1097 tasks      | elapsed: 28.0min
[Parallel(n_jobs=-1)]: Done 1144 tasks      | elapsed: 29.3min
[Parallel(n_jobs=-1)]: Done 1193 tasks      | elapsed: 30.3min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed: 31.2min
[Parallel(n_jobs=-1)]: Done 1293 tasks      | elapsed: 32.3min
[Parallel(n_jobs=-1)]: Done 1344 tasks      | elapsed: 33.0min
[Parallel(n_jobs=-1)]: Done 1397 tasks      | elapsed: 34.1min
[Parallel(n_jobs=-1)]: Done 1450 tasks      | elapsed: 35.1min
[Parallel(n_jobs=-1)]: Done 1505 tasks      | elapsed: 36.2min
[Parallel(n_jobs=-1)]: Done 1560 tasks      | elapsed: 37.3min
[Parallel(n_jobs=-1)]: Done 1617 tasks      | elapsed: 38.4min
[Parallel(n_jobs=-1)]: Done 1674 tasks      | elapsed: 39.6min
[Parallel(n_jobs=-1)]: Done 1733 tasks      | elapsed: 40.6min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed: 41.7min
[Parallel(n_jobs=-1)]: Done 1853 tasks      | elapsed: 42.8min
[Parallel(n_jobs=-1)]: Done 1914 tasks      | elapsed: 44.3min
[Parallel(n_jobs=-1)]: Done 1977 tasks      | elapsed: 45.6min
[Parallel(n_jobs=-1)]: Done 2040 tasks      | elapsed: 46.5min
[Parallel(n_jobs=-1)]: Done 2105 tasks      | elapsed: 47.5min
[Parallel(n_jobs=-1)]: Done 2170 tasks      | elapsed: 48.8min
[Parallel(n_jobs=-1)]: Done 2237 tasks      | elapsed: 50.0min
[Parallel(n_jobs=-1)]: Done 2304 tasks      | elapsed: 51.3min
[Parallel(n_jobs=-1)]: Done 2373 tasks      | elapsed: 52.3min
[Parallel(n_jobs=-1)]: Done 2442 tasks      | elapsed: 53.5min
[Parallel(n_jobs=-1)]: Done 2513 tasks      | elapsed: 54.6min
[Parallel(n_jobs=-1)]: Done 2584 tasks      | elapsed: 55.8min
[Parallel(n_jobs=-1)]: Done 2657 tasks      | elapsed: 57.5min
[Parallel(n_jobs=-1)]: Done 2730 tasks      | elapsed: 58.9min
[Parallel(n_jobs=-1)]: Done 2805 tasks      | elapsed: 60.3min
[Parallel(n_jobs=-1)]: Done 2880 tasks      | elapsed: 61.9min
[Parallel(n_jobs=-1)]: Done 2957 tasks      | elapsed: 63.5min
[Parallel(n_jobs=-1)]: Done 3034 tasks      | elapsed: 64.7min
[Parallel(n_jobs=-1)]: Done 3113 tasks      | elapsed: 66.0min
[Parallel(n_jobs=-1)]: Done 3192 tasks      | elapsed: 67.8min
[Parallel(n_jobs=-1)]: Done 3273 tasks      | elapsed: 69.5min
[Parallel(n_jobs=-1)]: Done 3354 tasks      | elapsed: 71.3min
[Parallel(n_jobs=-1)]: Done 3437 tasks      | elapsed: 73.0min
[Parallel(n_jobs=-1)]: Done 3520 tasks      | elapsed: 74.3min
[Parallel(n_jobs=-1)]: Done 3605 tasks      | elapsed: 75.8min
[Parallel(n_jobs=-1)]: Done 3690 tasks      | elapsed: 77.6min
[Parallel(n_jobs=-1)]: Done 3777 tasks      | elapsed: 78.9min
[Parallel(n_jobs=-1)]: Done 3864 tasks      | elapsed: 79.8min
[Parallel(n_jobs=-1)]: Done 3953 tasks      | elapsed: 80.4min
[Parallel(n_jobs=-1)]: Done 4042 tasks      | elapsed: 81.4min
[Parallel(n_jobs=-1)]: Done 4133 tasks      | elapsed: 82.3min
[Parallel(n_jobs=-1)]: Done 4224 tasks      | elapsed: 83.1min
[Parallel(n_jobs=-1)]: Done 4317 tasks      | elapsed: 84.0min
[Parallel(n_jobs=-1)]: Done 4410 tasks      | elapsed: 84.9min
[Parallel(n_jobs=-1)]: Done 4505 tasks      | elapsed: 85.6min
[Parallel(n_jobs=-1)]: Done 4600 tasks      | elapsed: 86.5min
[Parallel(n_jobs=-1)]: Done 4697 tasks      | elapsed: 87.4min
[Parallel(n_jobs=-1)]: Done 4794 tasks      | elapsed: 88.2min
[Parallel(n_jobs=-1)]: Done 4893 tasks      | elapsed: 89.0min
[Parallel(n_jobs=-1)]: Done 4992 tasks      | elapsed: 89.9min
[Parallel(n_jobs=-1)]: Done 5000 out of 5000 | elapsed: 89.9min finished

CPU times: user 34.1 s, sys: 1.18 s, total: 35.3 s
Wall time: 1h 29min 58s

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Pipeline(memory=None,
                                      steps=[('onehotencoder',
                                              OneHotEncoder(cols=['STATE'],
                                                            drop_invariant=False,
                                                            handle_missing='value',
                                                            handle_unknown='value',
                                                            return_df=True,
                                                            use_cat_names=True,
                                                            verbose=0)),
                                             ('ordinalencoder',
                                              OrdinalEncoder(cols=None,
                                                             drop_invariant=False,
                                                             handle_missing='value',
                                                             handle_unknown='value',
                                                             map...
                                                                 0.3, 0.4],
                                        'xgbclassifier__learning_rate': [0.05,
                                                                         0.1,
                                                                         0.15,
                                                                         0.2,
                                                                         0.25,
                                                                         0.3],
                                        'xgbclassifier__max_depth': [5, 10, 15,
                                                                     20],
                                        'xgbclassifier__min_child_weight': [1,
                                                                            3,
                                                                            5,
                                                                            7],
                                        'xgbclassifier__n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x1a1d591510>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=True, scoring='accuracy', verbose=10)

In [56]:
print('Best H yperparameters:', search.best_params_)
print('Accuracy:', search.best_score_)
print('Best Estimator:', search.best_estimator_)

Best H yperparameters: {'simpleimputer__strategy': 'median', 'xgbclassifier__colsample_bytree': 0.3, 'xgbclassifier__gamma': 0.4, 'xgbclassifier__learning_rate': 0.25, 'xgbclassifier__max_depth': 5, 'xgbclassifier__min_child_weight': 7, 'xgbclassifier__n_estimators': 495}
Accuracy: 0.5735686274509805
Best Estimator: Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['STATE'], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               return_df=True, use_cat_names=True, verbose=0)),
                ('ordinalencoder',
                 OrdinalEncoder(cols=[], drop_invariant=False,
                                handle_missing='value', handle_unknown='value',
                                mapping=[], return_df=True, verbose=0)),
                ('simpleimputer',...
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, colsample_bytree=0.3,
                               gamma=0.4, learning_rate=0.25, max_delta_step=0,
                               max_depth=5, min_child_weight=7, missing=None,
                               n_estimators=495, n_jobs=1, nthread=None,
                               objective='multi:softprob', random_state=0,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               seed=42, silent=True, subsample=1))],
         verbose=False)

## Best Parameters

In [68]:
xg1 = make_pipeline(
    ce.OneHotEncoder(use_cat_names = True, cols = ['STATE']),
    ce.OrdinalEncoder(),
    SimpleImputer(strategy = 'mean'),
    XGBClassifier(colsample_bytree = 0.3, 
                 gamma = 0.4, 
                 learning_rate = 0.25, max_depth = 5, 
                 min_child_weight = 7, 
                 n_estimators = 495)
    )

#Fit on train, score on val
xg1.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['STATE'], drop_invariant=False,
                               handle_missing='value', handle_unknown='value',
                               return_df=True, use_cat_names=True, verbose=0)),
                ('ordinalencoder',
                 OrdinalEncoder(cols=[], drop_invariant=False,
                                handle_missing='value', handle_unknown='value',
                                mapping=[], return_df=True, verbose=0)),
                ('simpleimputer',...
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, colsample_bytree=0.3,
                               gamma=0.4, learning_rate=0.25, max_delta_step=0,
                               max_depth=5, min_child_weight=7, missing=None,
                               n_estimators=495, n_jobs=1, nthread=None,
                               objective='multi:softprob', random_state=0,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               seed=None, silent=True, subsample=1))],
         verbose=False)

In [69]:
# Val accuracy
print('Train Accuracy', xg1.score(X_train, y_train))
print('Validation Accuracy', xg1.score(X_val, y_val))

Train Accuracy 0.9920318725099602
Validation Accuracy 0.4444444444444444

# Model 2

In [59]:
features = ['YEAR', 'ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE',
       'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE',
       'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE',
       'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE','AVG_MATH_4_SCORE',
       'AVG_READING_4_SCORE', 'AVG_MATH_8_SCORE', 
       'MATH_PROF_8', 'ADJUSTED_TOTAL_REVENUE',
       'ADJUSTED_FEDERAL_REVENUE', 'ADJUSTED_STATE_REVENUE',
       'ADJUSTED_LOCAL_REVENUE', 'ADJUSTED_TOTAL_EXPENDITURE',
       'ADJUSTED_INSTRUCTION_EXPENDITURE',
       'ADJUSTED_SUPPORT_SERVICES_EXPENDITURE', 'ADJUSTED_OTHER_EXPENDITURE',
       'ADJUSTED_CAPITAL_OUTLAY_EXPENDITURE', '%TOTAL_REVENUE',
       '%TOTAL_EXPENDITURE_INSTRUCTION', '%TOTAL_EXPENDITURE_SUPPORT_SERVICES',
       '%TOTAL_EXPENDITURE_OTHER', '%TOTAL_EXPENDITURE_CAPITAL_OUTLAY',
       'COST_PER_STUDENT']

target = 'READING_PROF_8'
X_train_new = train[features]
y_train = train[target]
X_val_new = val[features]
y_val = val[target]
X_test_new = test[features]
y_test = test[target]

In [60]:
#XGBoost Classifier
xg2 = make_pipeline(
    SimpleImputer(),
    XGBClassifier(seed = 42),
)

In [61]:
#Hyperparameter optimization with RandomSearchCV

param_distributions = {
    'simpleimputer__strategy': ['mean', 'median'],
    'xgbclassifier__learning_rate': [0.05, 0.10, 0.15, 0.20, 0.25, 0.30],
    'xgbclassifier__n_estimators': randint(50, 500),
    'xgbclassifier__max_depth': [5, 10, 15, 20], 
    'xgbclassifier__gamma':[0.0, 0.1, 0.2 , 0.3, 0.4],
    'xgbclassifier__min_child_weight':[1, 3, 5, 7],
    'xgbclassifier__colsample_bytree':[0.3, 0.4, 0.5 , 0.7]
}

In [62]:
%%time
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

search2 = RandomizedSearchCV(
    xg2,
    param_distributions = param_distributions,
    n_iter = 1000,
    cv = 5,
    scoring = 'accuracy',
    verbose = 10,
    return_train_score = True,
    n_jobs = -1
)

search2.fit(X_train_new, y_train);

Fitting 5 folds for each of 1000 candidates, totalling 5000 fits

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    1.5s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    2.7s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done  53 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  64 tasks      | elapsed:   10.3s
[Parallel(n_jobs=-1)]: Done  77 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done  90 tasks      | elapsed:   16.5s
[Parallel(n_jobs=-1)]: Done 105 tasks      | elapsed:   18.6s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   22.1s
[Parallel(n_jobs=-1)]: Done 137 tasks      | elapsed:   25.4s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:   27.9s
[Parallel(n_jobs=-1)]: Done 173 tasks      | elapsed:   30.8s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   34.8s
[Parallel(n_jobs=-1)]: Done 213 tasks      | elapsed:   38.2s
[Parallel(n_jobs=-1)]: Done 234 tasks      | elapsed:   40.4s
[Parallel(n_jobs=-1)]: Done 257 tasks      | elapsed:   44.4s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:   48.7s
[Parallel(n_jobs=-1)]: Done 305 tasks      | elapsed:   52.5s
[Parallel(n_jobs=-1)]: Done 330 tasks      | elapsed:   55.9s
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 384 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 413 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 473 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 537 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 570 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 605 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 677 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 714 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done 753 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 833 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 874 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 917 tasks      | elapsed:  2.6min
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 1005 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 1050 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 1097 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done 1144 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 1193 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 1242 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 1293 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 1344 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done 1397 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 1450 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 1505 tasks      | elapsed:  4.2min
[Parallel(n_jobs=-1)]: Done 1560 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 1617 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 1674 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 1733 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 1792 tasks      | elapsed:  5.0min
[Parallel(n_jobs=-1)]: Done 1853 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 1914 tasks      | elapsed:  5.3min
[Parallel(n_jobs=-1)]: Done 1977 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 2040 tasks      | elapsed:  5.6min
[Parallel(n_jobs=-1)]: Done 2105 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 2170 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 2237 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 2304 tasks      | elapsed:  6.3min
[Parallel(n_jobs=-1)]: Done 2373 tasks      | elapsed:  6.5min
[Parallel(n_jobs=-1)]: Done 2442 tasks      | elapsed:  6.7min
[Parallel(n_jobs=-1)]: Done 2513 tasks      | elapsed:  7.0min
[Parallel(n_jobs=-1)]: Done 2584 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 2657 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 2730 tasks      | elapsed:  7.6min
[Parallel(n_jobs=-1)]: Done 2805 tasks      | elapsed:  7.8min
[Parallel(n_jobs=-1)]: Done 2880 tasks      | elapsed:  8.0min
[Parallel(n_jobs=-1)]: Done 2957 tasks      | elapsed:  8.2min
[Parallel(n_jobs=-1)]: Done 3034 tasks      | elapsed:  8.4min
[Parallel(n_jobs=-1)]: Done 3113 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-1)]: Done 3192 tasks      | elapsed:  8.8min
[Parallel(n_jobs=-1)]: Done 3273 tasks      | elapsed:  9.0min
[Parallel(n_jobs=-1)]: Done 3354 tasks      | elapsed:  9.2min
[Parallel(n_jobs=-1)]: Done 3437 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 3520 tasks      | elapsed:  9.7min
[Parallel(n_jobs=-1)]: Done 3605 tasks      | elapsed:  9.9min
[Parallel(n_jobs=-1)]: Done 3690 tasks      | elapsed: 10.2min
[Parallel(n_jobs=-1)]: Done 3777 tasks      | elapsed: 10.5min
[Parallel(n_jobs=-1)]: Done 3864 tasks      | elapsed: 10.7min
[Parallel(n_jobs=-1)]: Done 3953 tasks      | elapsed: 10.9min
[Parallel(n_jobs=-1)]: Done 4042 tasks      | elapsed: 11.1min
[Parallel(n_jobs=-1)]: Done 4133 tasks      | elapsed: 11.4min
[Parallel(n_jobs=-1)]: Done 4224 tasks      | elapsed: 11.7min
[Parallel(n_jobs=-1)]: Done 4317 tasks      | elapsed: 11.9min
[Parallel(n_jobs=-1)]: Done 4410 tasks      | elapsed: 12.1min
[Parallel(n_jobs=-1)]: Done 4505 tasks      | elapsed: 12.4min
[Parallel(n_jobs=-1)]: Done 4600 tasks      | elapsed: 12.6min
[Parallel(n_jobs=-1)]: Done 4697 tasks      | elapsed: 12.9min
[Parallel(n_jobs=-1)]: Done 4794 tasks      | elapsed: 13.2min
[Parallel(n_jobs=-1)]: Done 4893 tasks      | elapsed: 13.4min
[Parallel(n_jobs=-1)]: Done 4992 tasks      | elapsed: 13.7min
[Parallel(n_jobs=-1)]: Done 5000 out of 5000 | elapsed: 13.7min finished

CPU times: user 25.5 s, sys: 898 ms, total: 26.4 s
Wall time: 13min 42s

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=Pipeline(memory=None,
                                      steps=[('simpleimputer',
                                              SimpleImputer(add_indicator=False,
                                                            copy=True,
                                                            fill_value=None,
                                                            missing_values=nan,
                                                            strategy='mean',
                                                            verbose=0)),
                                             ('xgbclassifier',
                                              XGBClassifier(base_score=0.5,
                                                            booster='gbtree',
                                                            colsample_bylevel=1,
                                                            colsample_bytree=1,
                                                            gamma=0,
                                                            learning_rate=0.1,
                                                            max_delta_step=0,
                                                            max...
                                                                 0.3, 0.4],
                                        'xgbclassifier__learning_rate': [0.05,
                                                                         0.1,
                                                                         0.15,
                                                                         0.2,
                                                                         0.25,
                                                                         0.3],
                                        'xgbclassifier__max_depth': [5, 10, 15,
                                                                     20],
                                        'xgbclassifier__min_child_weight': [1,
                                                                            3,
                                                                            5,
                                                                            7],
                                        'xgbclassifier__n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x1a1d586790>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=True, scoring='accuracy', verbose=10)

In [63]:
print('Best H yperparameters:', search2.best_params_)
print('Accuracy:', search2.best_score_)
print('Best Estimator:', search2.best_estimator_)

Best H yperparameters: {'simpleimputer__strategy': 'mean', 'xgbclassifier__colsample_bytree': 0.7, 'xgbclassifier__gamma': 0.4, 'xgbclassifier__learning_rate': 0.3, 'xgbclassifier__max_depth': 15, 'xgbclassifier__min_child_weight': 3, 'xgbclassifier__n_estimators': 122}
Accuracy: 0.5653333333333334
Best Estimator: Pipeline(memory=None,
         steps=[('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('xgbclassifier',
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, colsample_bytree=0.7,
                               gamma=0.4, learning_rate=0.3, max_delta_step=0,
                               max_depth=15, min_child_weight=3, missing=None,
                               n_estimators=122, n_jobs=1, nthread=None,
                               objective='multi:softprob', random_state=0,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               seed=42, silent=True, subsample=1))],
         verbose=False)

## Best Model

In [72]:
xg2 = make_pipeline(
    SimpleImputer(strategy = 'mean'),
    XGBClassifier(colsample_bytree = 0.7, 
                gamma = 0.4, 
                learning_rate = 0.3, 
                max_depth =  15, 
                min_child_weight =  3, 
                n_estimators = 122)
)

#Fit on train, score on val
xg2.fit(X_train_new, y_train)

Pipeline(memory=None,
         steps=[('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('xgbclassifier',
                 XGBClassifier(base_score=0.5, booster='gbtree',
                               colsample_bylevel=1, colsample_bytree=0.7,
                               gamma=0.4, learning_rate=0.3, max_delta_step=0,
                               max_depth=15, min_child_weight=3, missing=None,
                               n_estimators=122, n_jobs=1, nthread=None,
                               objective='multi:softprob', random_state=0,
                               reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
                               seed=None, silent=True, subsample=1))],
         verbose=False)

In [73]:
# Val accuracy
print('Train Accuracy', xg2.score(X_train_new, y_train))
print('Validation Accuracy', xg2.score(X_val_new, y_val))

Train Accuracy 0.9960159362549801
Validation Accuracy 0.52046783625731